<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
  
</head>
<body>
	<%= form_tag sessions_path do  %>

 <div class="form-inputs">

    <div class="form-group has-success has-feedback">
      <%= label_tag :email %><br />
  	  <%= text_field_tag :email, params[:email],type:"text",id:"email" %>
    </div>

    <div class="form-group has-success has-feedback">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>


 </div>

  <div class="actions">
    <%= submit_tag "Login",class:"btn btn-default" %>
  </div>
<% end %>
</body>
</html>



