<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
 <% provide(:title,'Login') %>

 <%= stylesheet_link_tag "homes" %>
	<script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID">
<meta name="google-signin-cookiepolicy" content="single_host_origin">
<meta name="google-signin-scope" content="profile email">
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<ul class="nav navbar-left">
			<%= link_to '',root_path,class:"glyphicon glyphicon-home btn-lg" %>
		</ul>
	</div>
</nav>

			
<%= form_tag sessions_path do %>
	
<div class="container atas">
<div class="row">
</div>

<div class="col-md-6 col-md-offset-3">
<%flash.each do |name, msg| %> 
				<div class="alert alert-info alert-dismissable">
					<a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
					<%= msg %>
					</div>
				 <% end %>

				 </div>

    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">

								<center><h4 class="text-center">Login</h4></center>

							</div>
						</div>
						<hr>
					</div>

					 <div class="form-group text-center">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<%= label_tag :email %><br />

   								<%= text_field_tag :email, params[:email],type:"email",id:"email" %>

							</div>
						</div>
					</div>

					<div class="form-group text-center">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<%= label_tag :password %><br />
    							<%= password_field_tag :password %>
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<%= label_tag :remember_me %>
						<%= check_box_tag :remember_me, 1, params[:remember_me] %>
					</div>
					<div class="form-group text-center">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<%= submit_tag "Log in",id:"login-submit",data: {disable_with: "Please wait..."},class:"form-control btn btn-login",name:"btnlogin" %></p>
							</div>
						</div>
					</div>
					<div class="form-group text-center">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="text-center">
									<%= link_to "Register",register_path,id:"register-tab",class:"forgot-password" %>
								</div>
							</div>

						</div>	

						<div class="form-group text-center">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<div class="text-center">
									<%= link_to "Forgotten Password?",new_password_reset_path, id:"forgot-password-tab",class:"forgot-password"%>
								</div>
							</div>
						</div>			

				</div>
			</div>
		</div>
	</div>
	<% end %>
	<script type="text/javascript">
	(function() {

			// Initialize Firebase
	  const config = {
	    apiKey: "AIzaSyDBVByTSzipZs8uCIn38mfk3lVJXZTlE2g",
	    authDomain: "handbo-3c845.firebaseapp.com",
	    databaseURL: "https://handbo-3c845.firebaseio.com",
	    storageBucket: "handbo-3c845.appspot.com",
	    messagingSenderId: "146974279618"
	  };
	  firebase.initializeApp(config);
	  //mencari yg mau diambil
	  const lg_username = document.getElementById('lg_username');
	  const lg_password = document.getElementById('lg_password');
	  const btnlogin = document.getElementById('btnlogin');


	  //add login event
	  btnlogin.addEventListener('click', e => {
	  	//mengambil email dan password
	  	const email = lg_username.value;
	  	const pass = lg_password.value;
	  	const auth = firebase.auth();

	  	//login
	  	const promise = auth.signInWithEmailAndPassword(email,pass);
	  	promise.catch(e => console.log(e.message));
	  });

	});

	</script>
<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

</body>
</html>