<html>
<head>
</head>
<%= stylesheet_link_tag "homes" %>
<body>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>

<div class="container atas">
  <div class="row">
			<div class="col-md-4 col-md-offset-4">
      <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>     
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %>
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
						<div class="col-md-8 col-md-offset-2"">
								<center><h4 class="text-center">Password Reset</h4></center>
							</div>
						</div>
						<hr>
					</div>

					 <div class="form-group">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placholder:"password"%>
  </div></div></div></div>


   <div class="form-group">
		<div class="row">
		<div class="col-md-6 col-md-offset-3">

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, placholder:"confirm password" %>
  </div></div></div></div>


  <div class="form-group">
  	<div class="row">
	<div class="col-md-6 col-md-offset-3">
  <center><div class="actions"><%= f.submit "Update Password" %></div></center>
</div></div>
</div></div></div></div>
<% end %>

</div>
<script>
    var password = document.getElementById("user_password")
  , confirm_password = document.getElementById("user_password_confirmation");

function validatePassword(){
  if(user_password.value != user_password_confirmation.value) {
    user_password_confirmation.setCustomValidity("Passwords tidak sama");
  } else {
    user_password_confirmation.setCustomValidity('');
  }
}
password.onchange = validatePassword;
user_password_confirmation.onkeyup = validatePassword;

  </script>

