<html>
<head>
<%= stylesheet_link_tag "homes" %>
</head>
<body>
<div class="container atas">
	<%flash.each do |name, msg| %> 
				<div class="alert alert-danger alert-dismissable">
					<a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
					<%= msg %>
					</div>
				 <% end %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-login">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
					<center><h4 class="text-center">Password Reset</h4></center>

					</div>
				</div>
						<hr>
			</div>
		<div class="form-group">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<%= form_tag password_resets_path, :method => :post do %>
  						<div class="field">
    						<%= label_tag :email %>
    						<%= text_field_tag :email, params[:email] %>
 		 				</div>
  				</div>
  			</div>
  		</div>

<div class="form-group">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
  			<center><div class="actions"><%= submit_tag "Reset Password" %></div></center>
<% end %>

		</div>
	</div>
</div>
					</div></div></div></div>

<br><br><br>
<%= render 'layouts/footer' %>

</body>
</html>