
<h1>Password reset</h1>

<p>To reset your password click the link below:</p>

<p>this link will expire in two hours.</p>

<p>if you did not request your password to be reset, please ignore this email and your password will stay as it is.</p>

