    <h1>Welcome to handbo.id, <%= @user.email %></h1>
    <p>
      You have successfully signed up to handbo.id,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>