/*!
* Vue Material v0.7.1
* Made with love by Marcos Moura
* Released under the MIT License.
*/
/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  border-radius: 40px;
  vertical-align: middle;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar.md-large {
  width: 64px;
  min-width: 64px;
  height: 64px;
  min-height: 64px;
  border-radius: 64px;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar.md-large .md-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  font-size: 40px;
  line-height: 40px;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar.md-avatar-icon {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar.md-avatar-icon .md-icon {
  color: #fff;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar .md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar img {
  width: 100%;
  height: 100%;
  display: block;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar .md-ink-ripple {
  border-radius: 50%;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar .md-ink-ripple .md-ripple.md-active {
  -webkit-animation-duration: .9s;
          animation-duration: .9s;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar-tooltip.md-tooltip-top {
  margin-top: -8px;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar-tooltip.md-tooltip-right {
  margin-left: 8px;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar-tooltip.md-tooltip-bottom {
  margin-top: 8px;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/avatar.scss */
.md-avatar-tooltip.md-tooltip-left {
  margin-left: -8px;
}
