/* CSS Document */
/* line 7, /root/handbo2/app/assets/stylesheets/homes.css.scss */
body {
  background-color: #FFF !important;
  font-family: 'Roboto Slab', serif;
}

/* line 12, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.container {
  margin: 0px auto;
}

/*--------------------START NAVBAR-----------------------*/
/* line 18, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default {
  background-color: #000 !important;
  border-bottom: 3px solid #FFF !important;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0px 10px;
}

/* line 24, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-brand {
  color: #fff !important;
  padding: 10px;
  font: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

/* line 30, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}

/* line 35, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
}

/* line 40, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none !important;
  text-decoration: underline;
}

/* line 45, /root/handbo2/app/assets/stylesheets/homes.css.scss */
a.navbar-brand span {
  color: #2FD828;
}

/* line 48, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color: #000;
}

/* line 52, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}

/* line 56, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFF !important;
}

/* line 61, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.nav-itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

/* line 68, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.button-smaller {
  color: #fff;
  height: 27px;
  line-height: 25px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
}

/* line 79, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.button-smaller:hover {
  background-color: grey;
  color: #fff;
}

/*--------------------END NAVBAR-----------------------*/
/*-------------------------------------START JQUERY RANGE SLIDER-----------------*/
/* line 90, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range] {
  overflow: hidden;
  border: 1px solid #fff;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  min-height: 15px;
}

/* line 100, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-moz-range-progress {
  background-color: #f4511e;
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 3px;
}

/* line 108, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 116, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-thumb {
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 10%;
  background: #f4511e;
  cursor: pointer;
}

/* line 125, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-lower {
  background-color: #f4511e;
}

/* line 128, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-upper {
  background-color: #ccc;
}

/*hide the outline behind the border*/
/* line 134, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]:-moz-focusring {
  outline: none;
  outline-offset: -1px;
}

/* line 139, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.slider-uang output::before {
  content: "Rp.";
}

/* line 143, /root/handbo2/app/assets/stylesheets/homes.css.scss */
output {
  display: block;
  padding-top: 20px;
  font-size: 24px;
  position: center;
  line-height: 1.428571429;
  color: #f4511e;
}

/* line 153, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 161, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #808080;
  margin-top: -5px;
  -webkit-box-shadow: -200px 0 0 200px #ff0000;
}

/* line 172, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus {
  outline: none;
}

/* line 176, /root/handbo2/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* line 180, /root/handbo2/app/assets/stylesheets/homes.css.scss */
#total::before {
  content: "Rp.";
}

/* line 186, /root/handbo2/app/assets/stylesheets/homes.css.scss */
#total {
  display: block;
  padding-top: 20px;
  font-size: 72px;
  line-height: 1.428571429;
  color: #f4511e;
}

/*--------------------------------------END JQUERY RANGE SLIDER-----------------*/
/*------------------ Slider Part starts Here----------*/
/* line 201, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_container {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
}

/* line 209, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.rslides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 216, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

/* line 224, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.rslides img {
  width: 100%;
  height: auto;
  border: 0;
}

/* line 229, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  left: 10%;
  padding: 0;
  margin: 0;
}

/* line 239, /root/handbo2/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i {
  width: 70px;
  height: 74px;
  display: inline-block;
  margin: 0px 15px;
}

/* line 245, /root/handbo2/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.win {
  background-position: -6px 0px;
}

/* line 248, /root/handbo2/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.android {
  background-position: -110px 0px;
}

/* line 251, /root/handbo2/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.mac {
  background-position: -215px 0px;
}

/* line 254, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs li {
  display: inline-block;
  margin: 0 .1em;
}

@media screen and (max-width: 600px) {
  /* line 259, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
/* line 264, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a {
  visibility: hidden;
}

/* line 267, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.43);
}

/* line 284, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.callbacks_here a:after {
  background: #d33823;
}

/* line 289, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner {
  position: relative;
}

/* line 292, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-info {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
  max-width: 100%;
}

/* line 301, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-info1 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 309, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-info2 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 318, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-inf {
  position: absolute;
  text-align: center;
  left: 23%;
  line-height: 1;
  top: 32%;
  margin-top: -100px;
}

/* line 327, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-inf h1 {
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 333, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-inf p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 340, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-inf input#search {
  height: 35px;
  width: 70%;
  text-transform: uppercase;
  border: 0;
  background-color: #f5f5f5;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
}

/* line 352, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.banner-inf submit {
  background: #2a2a2a;
}

/*------------------END SLIDER-------------------*/
/*-----------------START HOW IT WORKS-----------*/
/* line 363, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.logo-small {
  color: #f4511e;
  font-size: 30px;
}

/* line 368, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.small p {
  margin-left: 20px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

/*--------------END HOW IT WORKS---------------*/
/*--------------START LOKASI------------------*/
/* line 381, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakmedia {
  min-height: 300px;
  width: 100%;
  margin: 0px;
  background: url("/assets/dashboard.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 392, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakmedia img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
}

/* line 400, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding: 0 60px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

/* line 411, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info h1 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

/* line 419, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 30%;
  top: 80%;
  left: 65%;
}

/* line 429, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-media {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* line 446, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-media:hover {
  background-color: #327699;
  color: #fff;
}

/* line 452, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kotakkota {
  min-height: 235px;
  width: 100%;
  margin: 0px;
}

/* line 458, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kota-photo {
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 235px;
  width: 100%;
}

/* line 464, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kota-photo img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 471, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

/* line 480, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.kota-info h1 {
  color: #fff;
  text-align: left;
  font-size: 20Px;
  font-weight: bolder;
  padding: 5px;
}

/* line 490, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.col-xs-6.col-md-4.col-lg-4.px-0 {
  padding: 0 !important;
}

/* line 495, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.col-xs-12 {
  padding: 0 !important;
}

/*-------------------END LOKASI-------------------*/
/*-------------------START FOOTER-----------------*/
/* line 505, /root/handbo2/app/assets/stylesheets/homes.css.scss */
footer {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
  margin-bottom: 0px;
}

/* line 513, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.isifooter {
  padding-top: 10px;
  margin-top: 15px;
}

/* line 518, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.isifooter1 {
  padding-top: 10px;
  margin-top: 15px;
  margin-right: 130px;
}

/* line 524, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.isifooter2 {
  padding-top: 10px;
  margin-right: 35px;
}

/* line 529, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.isifooter3 {
  padding-top: 10px;
  margin-right: 10px;
}

/* line 533, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.isifooter h2 {
  color: #FFF;
  padding: 10px;
  margin-top: 0px;
  font-size: 18px;
}

/* line 539, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.clear {
  clear: both;
}

/* line 543, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.copyright {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
}

/* line 550, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.copyright p {
  text-align: center;
  font-size: 13px;
}

/*-------------------END FOOTER-------------------*/
/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 562, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 600px;
  }

  /* line 566, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 569, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 572, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 578, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 586, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 597, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 50%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 605, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 611, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 618, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 627, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 635, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 640, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 648, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: 1em 0;
  }

  /* line 651, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .glyphicon-cutlery {
    left: -12px;
    top: 3px;
  }

  /* line 655, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2.5em;
    padding: 0.1em 0 1em 1em;
  }

  /* line 659, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d33823;
  }

  /* line 662, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
  }

  /* line 665, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin-top: 13px;
  }

  /* line 669, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 675, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 50px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 683, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-nav {
    float: none;
    text-align: center;
  }

  /* line 687, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 691, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #012231;
  }

  /* line 694, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 697, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 700, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 706, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 715, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 721, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 726, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 730, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 741, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 749, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 210px;
    width: 100%;
    margin: 0px;
  }

  /* line 755, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 210px;
    width: 100%;
  }

  /* line 762, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 771, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 779, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 784, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  /* line 792, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 460px;
  }

  /* line 796, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }

  /* line 800, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 806, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 42x;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 815, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 818, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 821, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 827, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 836, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 842, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 847, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 851, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 862, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 870, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 876, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 883, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 892, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 900, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 905, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  /* line 913, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.7em;
  }

  /* line 917, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 300px;
  }

  /* line 921, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* line 925, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }

  /* line 929, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.5em;
  }

  /* line 932, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 935, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 45%;
    left: 7%;
    width: 85%;
  }

  /* line 941, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 70%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 951, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 957, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 36px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 965, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 976, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 984, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 160px;
    width: 100%;
    margin: 0px;
  }

  /* line 990, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 160px;
    width: 100%;
  }

  /* line 997, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1006, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1014, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1019, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  /* line 1026, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 1.8em;
  }

  /* line 1029, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 1.0em;
  }

  /* line 1032, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    left: 7%;
    top: 38%;
    width: 85%;
  }

  /* line 1038, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1044, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 1052, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 55%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1061, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 1067, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1072, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1077, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1088, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1096, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1102, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1109, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1118, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1126, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1131, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  /* line 1138, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2em;
  }

  /* line 1141, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: .5em 0;
  }

  /* line 1144, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.4em;
  }

  /* line 1147, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin: 9px 0 0;
  }

  /* line 1151, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1157, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 1166, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 195px;
  }

  /* line 1169, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  banner-inf h1 {
    font-size: 1.4em;
  }

  /* line 1172, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 1175, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 52%;
    left: 7%;
    width: 85%;
  }

  /* line 1182, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 1188, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1193, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1198, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 75%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1207, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 10px 0 40px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1218, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1226, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1232, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1239, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1248, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1255, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1260, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 1271, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.atas {
  padding-top: 50px;
}

/* line 1274, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btnhome {
  background-color: black;
}

/* line 1279, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 1285, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

/* line 1291, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1300, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}

/* line 1304, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}

/* line 1315, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1323, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1332, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.searchhome {
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
  margin-top: 5px;
}

/* line 1340, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btnLogin {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1350, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

/* line 1362, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

/* line 1371, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1375, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.forgot-password {
  text-decoration: underline;
  color: #888;
}

/* line 1379, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

/* line 1385, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btnRegister {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1394, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btnSewa {
  margin-right: 40px;
  font-family: "Times New Roman",Times,serif;
  font-size: 18px;
}

/* line 1402, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

/* line 1414, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/* line 1420, /root/handbo2/app/assets/stylesheets/homes.css.scss */
#hero1 {
  background: url(https://sojo.net/sites/default/files/blog/simplicity.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 1426, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 1432, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.inner {
  min-height: 600px;
  position: relative;
}

/* line 1437, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}

/* line 1441, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

/* line 1448, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.btn-loreg {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0px 20px;
}

/* line 1456, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.bg-grey {
  background-color: #f6f6f6;
}

/* line 1459, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1463, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 1468, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  /* line 1474, /root/handbo2/app/assets/stylesheets/homes.css.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
/* line 1480, /root/handbo2/app/assets/stylesheets/homes.css.scss */
.logintext {
  margin-left: 800px;
  margin-top: 50px;
}
