/* CSS Document */
/* line 7, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
body {
  background-color: #FFF !important;
  font-family: 'Roboto Slab', serif;
}

/* line 12, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.container {
  margin: 0px auto;
}

/*--------------------START NAVBAR-----------------------*/
/* line 18, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default {
  background-color: #000 !important;
  border-bottom: 3px solid #FFF !important;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0px 10px;
}

/* line 24, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-brand {
  color: #fff !important;
  padding: 10px;
  font: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

/* line 30, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}

/* line 35, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
}

/* line 40, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none !important;
  text-decoration: underline;
}

/* line 45, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
a.navbar-brand span {
  color: #2FD828;
}

/* line 48, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color: #000;
}

/* line 52, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}

/* line 56, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFF !important;
}

/* line 61, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.nav-itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

/* line 68, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller {
  color: #fff;
  height: 27px;
  line-height: 25px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
}

/* line 79, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller:hover {
  background-color: grey;
  color: #fff;
}

/*--------------------END NAVBAR-----------------------*/
/*-------------------------------------START JQUERY RANGE SLIDER-----------------*/
/* line 90, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range] {
  overflow: hidden;
  border: 1px solid #fff;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  min-height: 15px;
}

/* line 100, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-moz-range-progress {
  background-color: #f4511e;
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 3px;
}

/* line 108, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 116, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-thumb {
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 10%;
  background: #f4511e;
  cursor: pointer;
}

/* line 125, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-lower {
  background-color: #f4511e;
}

/* line 128, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-upper {
  background-color: #ccc;
}

/*hide the outline behind the border*/
/* line 134, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:-moz-focusring {
  outline: none;
  outline-offset: -1px;
}

/* line 139, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.slider-uang output::before {
  content: "Rp.";
}

/* line 143, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
output {
  display: block;
  padding-top: 20px;
  font-size: 24px;
  position: center;
  line-height: 1.428571429;
  color: #f4511e;
}

/* line 153, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 161, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #808080;
  margin-top: -5px;
  -webkit-box-shadow: -200px 0 0 200px #ff0000;
}

/* line 172, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus {
  outline: none;
}

/* line 176, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/* line 180, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
#total::before {
  content: "Rp.";
}

/* line 186, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
#total {
  display: block;
  padding-top: 20px;
  font-size: 72px;
  line-height: 1.428571429;
  color: #f4511e;
}

/*--------------------------------------END JQUERY RANGE SLIDER-----------------*/
/*------------------ Slider Part starts Here----------*/
/* line 201, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_container {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
}

/* line 209, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.rslides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 216, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

/* line 224, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.rslides img {
  width: 100%;
  height: auto;
  border: 0;
}

/* line 229, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  left: 10%;
  padding: 0;
  margin: 0;
}

/* line 239, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i {
  width: 70px;
  height: 74px;
  display: inline-block;
  margin: 0px 15px;
}

/* line 245, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.win {
  background-position: -6px 0px;
}

/* line 248, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.android {
  background-position: -110px 0px;
}

/* line 251, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.mac {
  background-position: -215px 0px;
}

/* line 254, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs li {
  display: inline-block;
  margin: 0 .1em;
}

@media screen and (max-width: 600px) {
  /* line 259, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
/* line 264, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a {
  visibility: hidden;
}

/* line 267, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.43);
}

/* line 284, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_here a:after {
  background: #d33823;
}

/* line 289, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner {
  position: relative;
}

/* line 292, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
  max-width: 100%;
}

/* line 301, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info1 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 309, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info2 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 318, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf {
  position: absolute;
  text-align: center;
  left: 23%;
  line-height: 1;
  top: 32%;
  margin-top: -100px;
}

/* line 327, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf h1 {
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 333, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 340, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf input#search {
  height: 35px;
  width: 70%;
  text-transform: uppercase;
  border: 0;
  background-color: #f5f5f5;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
}

/* line 352, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf submit {
  background: #2a2a2a;
}

/*------------------END SLIDER-------------------*/
/*-----------------START HOW IT WORKS-----------*/
/* line 363, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.logo-small {
  color: #f4511e;
  font-size: 30px;
}

/* line 368, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.small p {
  margin-left: 20px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

/*--------------END HOW IT WORKS---------------*/
/*--------------START LOKASI------------------*/
/* line 381, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia {
  min-height: 300px;
  width: 100%;
  margin: 0px;
  background: url("/assets/dashboard.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 392, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
}

/* line 400, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding: 0 60px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

/* line 411, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info h1 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

/* line 419, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 30%;
  top: 80%;
  left: 65%;
}

/* line 429, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* line 446, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media:hover {
  background-color: #327699;
  color: #fff;
}

/* line 452, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kotakkota {
  min-height: 235px;
  width: 100%;
  margin: 0px;
}

/* line 458, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo {
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 235px;
  width: 100%;
}

/* line 464, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 471, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

/* line 480, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info h1 {
  color: #fff;
  text-align: left;
  font-size: 20Px;
  font-weight: bolder;
  padding: 5px;
}

/* line 490, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-6.col-md-4.col-lg-4.px-0 {
  padding: 0 !important;
}

/* line 495, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-12 {
  padding: 0 !important;
}

/*-------------------END LOKASI-------------------*/
/*-------------------START FOOTER-----------------*/
/* line 505, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
footer {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
  margin-bottom: 0px;
}

/* line 513, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter {
  padding-top: 10px;
  margin-top: 15px;
}

/* line 518, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter1 {
  padding-top: 10px;
  margin-top: 15px;
  margin-right: 130px;
}

/* line 524, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter2 {
  padding-top: 10px;
  margin-right: 35px;
}

/* line 529, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter3 {
  padding-top: 10px;
  margin-right: 10px;
}

/* line 533, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter h2 {
  color: #FFF;
  padding: 10px;
  margin-top: 0px;
  font-size: 18px;
}

/* line 539, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.clear {
  clear: both;
}

/* line 543, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.copyright {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
}

/* line 550, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.copyright p {
  text-align: center;
  font-size: 13px;
}

/*-------------------END FOOTER-------------------*/
/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 562, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 600px;
  }

  /* line 566, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 569, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 572, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 578, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 586, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 597, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 605, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 611, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 618, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 627, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 635, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 640, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 648, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: 1em 0;
  }

  /* line 651, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .glyphicon-cutlery {
    left: -12px;
    top: 3px;
  }

  /* line 655, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2.5em;
    padding: 0.1em 0 1em 1em;
  }

  /* line 659, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d33823;
  }

  /* line 662, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
  }

  /* line 665, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin-top: 13px;
  }

  /* line 669, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 675, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 50px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 683, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav {
    float: none;
    text-align: center;
  }

  /* line 687, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 691, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #012231;
  }

  /* line 694, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 697, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 700, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 706, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 715, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 721, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 726, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 730, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 741, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 749, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 210px;
    width: 100%;
    margin: 0px;
  }

  /* line 755, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 210px;
    width: 100%;
  }

  /* line 762, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 771, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 779, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 784, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  /* line 792, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 460px;
  }

  /* line 796, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }

  /* line 800, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 806, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 42x;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 815, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 818, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 821, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 827, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 836, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 842, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 847, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 851, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 862, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 870, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 876, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 883, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 892, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 900, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 905, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  /* line 913, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.7em;
  }

  /* line 917, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 300px;
  }

  /* line 921, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* line 925, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }

  /* line 929, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.5em;
  }

  /* line 932, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 935, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 45%;
    left: 7%;
    width: 85%;
  }

  /* line 941, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 70%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 951, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 957, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 36px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 965, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 976, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 984, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 160px;
    width: 100%;
    margin: 0px;
  }

  /* line 990, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 160px;
    width: 100%;
  }

  /* line 997, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1006, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1014, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1019, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  /* line 1026, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 1.8em;
  }

  /* line 1029, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 1.0em;
  }

  /* line 1032, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    left: 7%;
    top: 38%;
    width: 85%;
  }

  /* line 1038, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1044, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 1052, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 55%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1061, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 1067, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
  }

  /* line 1073, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1078, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1089, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1097, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1103, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1110, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1119, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1127, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1132, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  /* line 1139, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2em;
  }

  /* line 1142, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: .5em 0;
  }

  /* line 1145, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.4em;
  }

  /* line 1148, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin: 9px 0 0;
  }

  /* line 1152, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1158, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }

  /* line 1167, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 195px;
  }

  /* line 1170, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  banner-inf h1 {
    font-size: 1.4em;
  }

  /* line 1173, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 1176, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 52%;
    left: 7%;
    width: 85%;
  }

  /* line 1183, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter1 {
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 0px;
  }

  /* line 1189, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter2 {
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 5px;
  }

  /* line 1195, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .isifooter3 {
    padding-top: 10px;
    margin-right: 0px;
  }

  /* line 1200, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 75%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1209, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 10px 0 40px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1220, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1228, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1234, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1241, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1250, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1257, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1262, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 1273, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.atas {
  padding-top: 50px;
}

/* line 1276, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btnhome {
  background-color: black;
}

/* line 1281, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 1287, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

/* line 1293, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1302, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}

/* line 1306, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

/* line 1317, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1325, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1334, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.searchhome {
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
  margin-top: 5px;
}

/* line 1342, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btnLogin {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1352, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

/* line 1364, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

/* line 1373, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1377, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password {
  text-decoration: underline;
  color: #888;
}

/* line 1381, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

/* line 1387, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btnRegister {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1396, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btnSewa {
  margin-right: 40px;
  font-family: "Times New Roman",Times,serif;
  font-size: 18px;
}

/* line 1404, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

/* line 1416, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/* line 1422, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
#hero1 {
  background: url(https://sojo.net/sites/default/files/blog/simplicity.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 1428, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 1434, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.inner {
  min-height: 600px;
  position: relative;
}

/* line 1439, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}

/* line 1443, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

/* line 1450, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.btn-loreg {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0px 20px;
}

/* line 1458, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.bg-grey {
  background-color: #f6f6f6;
}

/* line 1461, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1465, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 1470, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  /* line 1476, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
/* line 1482, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/homes.css.scss */
.logintext {
  margin-left: 800px;
  margin-top: 50px;
}
