/* CSS Document */
/* line 7, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
body {
  background-color: #FFF !important;
  font-family: 'Roboto Slab', serif;
}

/* line 13, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.fontslider {
  font-weight: bold;
}

/* line 17, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.container {
  margin: 0px auto;
}

/* line 21, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
#total::before {
  content: "Rp.";
}

/* line 25, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
#total {
  display: block;
  padding-top: 20px;
  font-size: 72px;
  line-height: 1.428571429;
  color: #f4511e;
}

/*--------------------START NAVBAR-----------------------*/
/* line 37, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default {
  background-color: #000 !important;
  border-bottom: 3px solid #FFF !important;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0px 10px;
}

/* line 43, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-brand {
  color: #fff !important;
  padding: 10px;
  font: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

/* line 49, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}

/* line 54, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
}

/* line 59, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none !important;
  text-decoration: underline;
}

/* line 64, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
a.navbar-brand span {
  color: #2FD828;
}

/* line 67, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color: #000;
}

/* line 71, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}

/* line 75, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFF !important;
}

/* line 80, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.nav-itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

/* line 87, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller {
  color: #fff;
  height: 27px;
  line-height: 25px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
}

/* line 98, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller:hover {
  background-color: grey;
  color: #fff;
}

/*--------------------START NAVBAR-----------------------*/
/*------------------ Slider Part starts Here----------*/
/* line 111, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_container {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
}

/* line 119, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 126, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

/* line 134, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides img {
  width: 100%;
  height: auto;
  border: 0;
}

/* line 139, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  left: 10%;
  padding: 0;
  margin: 0;
}

/* line 149, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i {
  width: 70px;
  height: 74px;
  display: inline-block;
  margin: 0px 15px;
}

/* line 155, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.win {
  background-position: -6px 0px;
}

/* line 158, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.android {
  background-position: -110px 0px;
}

/* line 161, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.mac {
  background-position: -215px 0px;
}

/* line 164, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs li {
  display: inline-block;
  margin: 0 .1em;
}

@media screen and (max-width: 600px) {
  /* line 169, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
/* line 174, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a {
  visibility: hidden;
}

/* line 177, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.43);
}

/* line 194, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_here a:after {
  background: #d33823;
}

/* line 199, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner {
  position: relative;
}

/* line 202, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
  max-width: 100%;
}

/* line 211, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info1 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 219, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info2 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 228, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf {
  position: absolute;
  text-align: center;
  left: 23%;
  line-height: 1;
  top: 32%;
  margin-top: -100px;
}

/* line 237, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf h1 {
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 243, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 250, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf input#search {
  height: 35px;
  width: 70%;
  text-transform: uppercase;
  border: 0;
  background-color: #f5f5f5;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
}

/* line 262, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf submit {
  background: #2a2a2a;
}

/*------------------END SLIDER-------------------*/
/*-------------------------------------START JQUERY RANGE SLIDER-----------------*/
/* line 272, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range] {
  overflow: hidden;
  border: 1px solid #fff;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  min-height: 15px;
}

/* line 282, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-moz-range-progress {
  background-color: #f4511e;
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 3px;
}

/* line 290, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 298, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-moz-range-thumb {
  border: 1px solid #fff;
  height: 20px;
  width: 20px;
  border-radius: 10%;
  background: #f4511e;
  cursor: pointer;
}

/* line 307, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-lower {
  background-color: #f4511e;
}

/* line 310, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type="range"]::-ms-fill-upper {
  background-color: #ccc;
}

/*hide the outline behind the border*/
/* line 316, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:-moz-focusring {
  outline: none;
  outline-offset: -1px;
}

/* line 321, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.slider-uang output::before {
  content: "Rp.";
}

/* line 325, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
output {
  display: block;
  padding-top: 20px;
  font-size: 24px;
  position: center;
  line-height: 1.428571429;
  color: #f4511e;
}

/* line 335, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  background: #ccc;
  border: none;
  border-radius: 3px;
}

/* line 343, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background: #808080;
  margin-top: -5px;
  -webkit-box-shadow: -200px 0 0 200px #ff0000;
}

/* line 354, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus {
  outline: none;
}

/* line 358, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

/*--------------------------------------END JQUERY RANGE SLIDER-----------------*/
/*-----------------START HOW IT WORKS-----------*/
/* line 370, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo-small {
  color: #f4511e;
  font-size: 30px;
}

/* line 375, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.small p {
  margin-left: 20px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

/*--------------END HOW IT WORKS---------------*/
/*--------------START LOKASI------------------*/
/* line 388, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia {
  min-height: 300px;
  width: 100%;
  margin: 0px;
  background: url("/assets/dashboard.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 399, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
}

/* line 407, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding: 0 60px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

/* line 418, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info h1 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

/* line 426, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 30%;
  top: 80%;
  left: 65%;
}

/* line 436, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* line 453, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media:hover {
  background-color: #327699;
  color: #fff;
}

/* line 459, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakkota {
  min-height: 235px;
  width: 100%;
  margin: 0px;
}

/* line 465, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo {
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 235px;
  width: 100%;
}

/* line 471, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 478, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

/* line 487, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info h1 {
  color: #fff;
  text-align: left;
  font-size: 20Px;
  font-weight: bolder;
  padding: 5px;
}

/* line 497, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-6.col-md-4.col-lg-4.px-0 {
  padding: 0 !important;
}

/* line 502, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-12 {
  padding: 0 !important;
}

/*-------------------END LOKASI-------------------*/
/*-------------------START FOOTER-----------------*/
/* line 512, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
footer {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
  margin-bottom: 0px;
}

/* line 520, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter {
  padding: 10px;
  margin-top: 15px;
}

/* line 524, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter h2 {
  color: #FFF;
  padding: 10px;
  margin-top: 0px;
  font-size: 18px;
}

/* line 530, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.clear {
  clear: both;
}

/* line 534, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copyright {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
}

/* line 541, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copyright p {
  text-align: center;
  font-size: 13px;
}

/*-------------------END FOOTER-------------------*/
/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 553, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 600px;
  }

  /* line 557, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 560, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 563, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 569, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 577, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 588, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 596, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 602, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 609, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 618, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 626, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 631, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 636, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 640, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 56px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
@media (max-width: 768px) {
  /* line 653, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: 1em 0;
  }

  /* line 656, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .glyphicon-cutlery {
    left: -12px;
    top: 3px;
  }

  /* line 660, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2.5em;
    padding: 0.1em 0 1em 1em;
  }

  /* line 664, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d33823;
  }

  /* line 667, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
  }

  /* line 670, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin-top: 13px;
  }

  /* line 673, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav {
    float: none;
    text-align: center;
  }

  /* line 677, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 681, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #012231;
  }

  /* line 684, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 687, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 690, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 696, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 704, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 715, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 723, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 210px;
    width: 100%;
    margin: 0px;
  }

  /* line 729, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 210px;
    width: 100%;
  }

  /* line 736, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 745, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 753, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 758, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 762, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 766, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 50px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
@media (max-width: 640px) {
  /* line 779, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 460px;
  }

  /* line 783, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }

  /* line 787, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 790, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 793, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 799, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 807, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 818, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 826, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 832, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 839, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 848, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 856, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 861, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 865, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 869, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 42px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
@media (max-width: 480px) {
  /* line 882, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.7em;
  }

  /* line 886, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 300px;
  }

  /* line 890, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* line 894, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }

  /* line 898, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.5em;
  }

  /* line 901, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 904, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 45%;
    left: 7%;
    width: 85%;
  }

  /* line 910, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 70%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 918, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 929, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 937, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 160px;
    width: 100%;
    margin: 0px;
  }

  /* line 943, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 160px;
    width: 100%;
  }

  /* line 950, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 959, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 967, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 972, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 976, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 980, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 36px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
@media (max-width: 414px) {
  /* line 993, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 1.8em;
  }

  /* line 996, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 1.0em;
  }

  /* line 999, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    left: 7%;
    top: 38%;
    width: 85%;
  }

  /* line 1004, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 55%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1013, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1024, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1032, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1038, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1045, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1054, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1062, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1067, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 1072, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1076, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
@media (max-width: 320px) {
  /* line 1088, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2em;
  }

  /* line 1091, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: .5em 0;
  }

  /* line 1094, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.4em;
  }

  /* line 1097, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin: 9px 0 0;
  }

  /* line 1101, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 195px;
  }

  /* line 1104, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  banner-inf h1 {
    font-size: 1.4em;
  }

  /* line 1107, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 1110, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 52%;
    left: 7%;
    width: 85%;
  }

  /* line 1117, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 75%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 1126, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 10px 0 40px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 1137, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 1145, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 1151, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 1158, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 1167, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 1174, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 1179, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }

  /* line 1184, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total::before {
    content: "Rp.";
  }

  /* line 1188, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  #total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 1205, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.atas {
  padding-top: 50px;
}

/* line 1208, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnhome {
  background-color: black;
}

/* line 1213, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 1219, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

/* line 1225, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1234, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}

/* line 1238, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}

/* line 1249, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1257, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1266, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.searchhome {
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
  margin-top: 5px;
}

/* line 1274, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnLogin {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1284, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

/* line 1296, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

/* line 1303, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
h3 {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 20px;
  padding: 0px 0px;
  color: #000;
}

/* line 1313, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1317, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password {
  text-decoration: underline;
  color: #888;
}

/* line 1321, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

/* line 1327, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnRegister {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1336, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnSewa {
  margin-right: 40px;
  font-family: "Times New Roman",Times,serif;
  font-size: 18px;
}

/* line 1344, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

/* line 1356, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/* line 1362, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
#hero1 {
  background: url(https://sojo.net/sites/default/files/blog/simplicity.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 1368, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 1374, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.inner {
  min-height: 600px;
  position: relative;
}

/* line 1379, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}

/* line 1383, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

/* line 1390, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-loreg {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0px 20px;
}

/* line 1397, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 1402, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 1406, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 1410, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}
/* line 1417, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel .item img {
  width: 100%;
  height: 500px;
}

/* line 1422, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 1430, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.item span {
  font-style: normal;
}

/* line 1433, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.bg-grey {
  background-color: #f6f6f6;
}

/* line 1436, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1440, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 1445, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  /* line 1451, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
/* line 1457, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logintext {
  margin-left: 800px;
  margin-top: 50px;
}
