/* CSS Document */
/* line 7, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
body {
  background-color: #FFF !important;
  font-family: 'Roboto Slab', serif;
}

/* line 12, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.container {
  margin: 0px auto;
}

/*--------------------START NAVBAR-----------------------*/
/* line 18, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default {
  background-color: #000 !important;
  border-bottom: 3px solid #FFF !important;
  font-family: Verdana, Geneva, sans-serif;
  padding: 0px 10px;
}

/* line 24, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-brand {
  color: #fff !important;
  padding: 10px;
  font: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

/* line 30, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}

/* line 35, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 14px;
}

/* line 40, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none !important;
  text-decoration: underline;
}

/* line 45, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
a.navbar-brand span {
  color: #2FD828;
}

/* line 48, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color: #000;
}

/* line 52, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}

/* line 56, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #FFF !important;
}

/* line 61, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.nav-itemButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
}

/* line 68, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller {
  color: #fff;
  height: 27px;
  line-height: 25px;
  font-size: 16px;
  padding: 0 10px;
  background-color: #000;
  border: 1px solid;
  border-color: #fff;
}

/* line 79, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.button-smaller:hover {
  background-color: grey;
  color: #fff;
}

/*--------------------START NAVBAR-----------------------*/
/*------------------ Slider Part starts Here----------*/
/* line 92, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_container {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 10px;
}

/* line 100, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 107, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}

/* line 115, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.rslides img {
  width: 100%;
  height: auto;
  border: 0;
}

/* line 120, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs {
  list-style: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  left: 10%;
  padding: 0;
  margin: 0;
}

/* line 130, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i {
  width: 70px;
  height: 74px;
  display: inline-block;
  margin: 0px 15px;
}

/* line 136, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.win {
  background-position: -6px 0px;
}

/* line 139, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.android {
  background-position: -110px 0px;
}

/* line 142, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
ul.social-slide li i.mac {
  background-position: -215px 0px;
}

/* line 145, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs li {
  display: inline-block;
  margin: 0 .1em;
}

@media screen and (max-width: 600px) {
  /* line 150, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_nav {
    top: 47%;
  }
}
/*----*/
/* line 155, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a {
  visibility: hidden;
}

/* line 158, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.43);
}

/* line 175, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.callbacks_here a:after {
  background: #d33823;
}

/* line 180, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner {
  position: relative;
}

/* line 183, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
  max-width: 100%;
}

/* line 192, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info1 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 200, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-info2 {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height: 700px;
}

/* line 209, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf {
  position: absolute;
  text-align: center;
  left: 23%;
  line-height: 1;
  top: 32%;
  margin-top: -100px;
}

/* line 218, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf h1 {
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

/* line 224, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf p {
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 231, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf input#search {
  height: 35px;
  width: 70%;
  text-transform: uppercase;
  border: 0;
  background-color: #f5f5f5;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  -ms-transition: all .5s ease 0s;
}

/* line 243, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.banner-inf submit {
  background: #2a2a2a;
}

/*------------------END SLIDER-------------------*/
/*-----------------START HOW IT WORKS-----------*/
/* line 254, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo-small {
  color: #f4511e;
  font-size: 30px;
}

/* line 259, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.small p {
  margin-left: 20px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}

/*--------------END HOW IT WORKS---------------*/
/*--------------START LOKASI------------------*/
/* line 272, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia {
  min-height: 300px;
  width: 100%;
  margin: 0px;
  background: url("/assets/dashboard.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 283, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
}

/* line 291, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 60px;
  padding: 0 60px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

/* line 302, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-info h1 {
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

/* line 310, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 30%;
  top: 80%;
  left: 65%;
}

/* line 320, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  width: 280px;
  height: 40px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* line 337, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-media:hover {
  background-color: #327699;
  color: #fff;
}

/* line 343, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kotakkota {
  min-height: 235px;
  width: 100%;
  margin: 0px;
}

/* line 349, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo {
  text-align: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 235px;
  width: 100%;
}

/* line 355, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-photo img {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 362, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

/* line 371, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.kota-info h1 {
  color: #fff;
  text-align: left;
  font-size: 20Px;
  font-weight: bolder;
  padding: 5px;
}

/* line 381, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-6.col-md-4.col-lg-4.px-0 {
  padding: 0 !important;
}

/* line 386, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.col-xs-12 {
  padding: 0 !important;
}

/*-------------------END LOKASI-------------------*/
/*-------------------START FOOTER-----------------*/
/* line 396, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
footer {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
  margin-bottom: 0px;
}

/* line 404, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter {
  padding: 10px;
  margin-top: 15px;
}

/* line 408, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.isifooter h2 {
  color: #FFF;
  padding: 10px;
  margin-top: 0px;
  font-size: 18px;
}

/* line 414, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.clear {
  clear: both;
}

/* line 418, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copyright {
  color: #fff;
  width: 100%;
  bottom: 0;
  background: #000;
}

/* line 425, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copyright p {
  text-align: center;
  font-size: 13px;
}

/*-------------------END FOOTER-------------------*/
/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 437, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 600px;
  }

  /* line 441, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 444, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 447, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 453, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 461, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 472, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 480, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 486, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 493, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 502, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 510, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 515, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  /* line 523, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: 1em 0;
  }

  /* line 526, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .glyphicon-cutlery {
    left: -12px;
    top: 3px;
  }

  /* line 530, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2.5em;
    padding: 0.1em 0 1em 1em;
  }

  /* line 534, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d33823;
  }

  /* line 537, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background: #fff;
  }

  /* line 540, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin-top: 13px;
  }

  /* line 543, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav {
    float: none;
    text-align: center;
  }

  /* line 547, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* line 551, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #012231;
  }

  /* line 554, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 557, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 560, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 566, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 574, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 585, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 593, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 210px;
    width: 100%;
    margin: 0px;
  }

  /* line 599, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 210px;
    width: 100%;
  }

  /* line 606, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 615, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 623, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 628, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  /* line 636, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 460px;
  }

  /* line 640, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }

  /* line 644, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.9em;
  }

  /* line 647, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 650, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;
  }

  /* line 656, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 664, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 675, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 683, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 200px;
    width: 100%;
    margin: 0px;
  }

  /* line 689, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 200px;
    width: 100%;
  }

  /* line 696, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 705, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 713, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 718, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  /* line 726, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.7em;
  }

  /* line 730, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 300px;
  }

  /* line 734, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  /* line 738, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }

  /* line 742, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 2.5em;
  }

  /* line 745, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 748, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 45%;
    left: 7%;
    width: 85%;
  }

  /* line 754, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 70%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 762, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 773, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 11%;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 781, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 160px;
    width: 100%;
    margin: 0px;
  }

  /* line 787, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 160px;
    width: 100%;
  }

  /* line 794, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 803, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 811, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 816, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 414px) {
  /* line 823, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf h1 {
    font-size: 1.8em;
  }

  /* line 826, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 1.0em;
  }

  /* line 829, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    left: 7%;
    top: 38%;
    width: 85%;
  }

  /* line 834, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 55%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 843, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 5%;
    right: 0;
    margin: 0;
    padding: 0 10px 0 20px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 854, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 862, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 868, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 875, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 884, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 892, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 897, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  /* line 904, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    font-size: 2em;
  }

  /* line 907, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .header {
    padding: .5em 0;
  }

  /* line 910, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.4em;
  }

  /* line 913, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .navbar-toggle {
    margin: 9px 0 0;
  }

  /* line 917, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 195px;
  }

  /* line 920, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  banner-inf h1 {
    font-size: 1.4em;
  }

  /* line 923, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf p {
    font-size: 0.9em;
  }

  /* line 926, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .banner-inf {
    top: 52%;
    left: 7%;
    width: 85%;
  }

  /* line 933, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .callbacks_tabs {
    list-style: none;
    position: absolute;
    top: 75%;
    left: 0%;
    padding: 0;
    margin: 0;
  }

  /* line 942, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-info {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 10px 0 40px;
    position: absolute;
    width: 100%;
    top: 7%;
  }

  /* line 953, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakmedia-btn {
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    width: 100%;
    top: 80%;
  }

  /* line 961, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kotakkota {
    min-height: 120px;
    width: 100%;
    margin: 0px;
  }

  /* line 967, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-photo {
    text-align: center;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    height: 120px;
    width: 100%;
  }

  /* line 974, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info {
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    padding: 0 60px 0 15px;
    position: absolute;
    width: 100%;
  }

  /* line 983, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .kota-info h1 {
    color: #fff;
    text-align: left;
    font-size: 16Px;
    font-weight: bolder;
    padding: 0px;
  }

  /* line 990, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  h2 {
    font-size: 20px;
  }

  /* line 995, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .small p {
    font-size: 16px;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 1006, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.atas {
  padding-top: 50px;
}

/* line 1009, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnhome {
  background-color: black;
}

/* line 1014, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

/* line 1020, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center;
}

/* line 1026, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1035, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px;
}

/* line 1039, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.15), transparent);
}

/* line 1050, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

/* line 1058, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1067, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.searchhome {
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
  margin-top: 5px;
}

/* line 1075, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnLogin {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1085, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}

/* line 1097, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}

/* line 1104, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
h3 {
  margin: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
  padding: 0px 20px;
  color: #d33823;
}

/* line 1114, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1118, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password {
  text-decoration: underline;
  color: #888;
}

/* line 1122, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

/* line 1128, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnRegister {
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Times New Roman",Times,serif;
}

/* line 1137, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btnSewa {
  margin-right: 40px;
  font-family: "Times New Roman",Times,serif;
  font-size: 18px;
}

/* line 1145, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}

/* line 1157, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}

/* line 1163, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
#hero1 {
  background: url(https://sojo.net/sites/default/files/blog/simplicity.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* line 1169, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.hero, .content {
  text-align: center;
  position: relative;
  width: 100%;
}

/* line 1175, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.inner {
  min-height: 600px;
  position: relative;
}

/* line 1180, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.hero .inner {
  background: rgba(0, 0, 0, 0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}

/* line 1184, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.copy {
  position: absolute;
  top: 50%;
  height: 10em;
  margin-top: -5em;
  width: 100%;
}

/* line 1191, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.btn-loreg {
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 18px;
  padding: 0px 20px;
}

/* line 1198, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 1203, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 1207, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 1211, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}
/* line 1218, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.carousel .item img {
  width: 100%;
  height: 500px;
}

/* line 1223, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 1231, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.item span {
  font-style: normal;
}

/* line 1234, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.bg-grey {
  background-color: #f6f6f6;
}

/* line 1237, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logo {
  color: #f4511e;
  font-size: 200px;
}

/* line 1241, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* line 1246, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  /* line 1252, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}
/* line 1258, /home/bens/handbo/app/assets/stylesheets/homes.css.scss */
.logintext {
  margin-left: 800px;
  margin-top: 50px;
}
