/* line 1, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 6, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h5 {
  font-size: 24px;
}

/* line 11, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 15, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 19, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 85%;
  padding: 15px;
}
/* line 26, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel .item img {
  width: 100%;
  height: 360px;
}

/* line 31, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 39, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item span {
  font-style: normal;
}

/* line 43, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel1 {
  width: 70%;
  min-height: 260px;
  margin: 10px 10px 20px 0px;
  padding-top: 10px;
  border: 1px solid #E8E8E8;
  float: left;
}

/* line 53, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo {
  text-align: center;
  height: 190px;
  background: fff;
  width: 100%;
}

/* line 60, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo img {
  height: 190px;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 66, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/* line 71, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h4 {
  font-size: 16px;
}

/* line 76, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h3 {
  font-size: 20px;
}

/* line 81, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.containerproduct {
  padding: 20px;
  width: 100%;
}

/* line 86, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft {
  margin-left: 1cm;
}

/* line 89, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft1 {
  margin-left: -2cm;
}

/* line 93, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelpreview {
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

/* line 100, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
#content-wrapper {
  position: relative;
  display: inline;
}

/* line 105, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotaksewa {
  min-height: 400px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 20px 150px 0px 150px;
  padding: 10px;
}

/* line 113, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelproduct {
  float: left;
}

/* line 118, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 119, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777;
}
/* line 120, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .current {
  background: yellow;
}
/* line 121, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 122, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777;
}

/* line 126, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.thumbnail img {
  height: 10px;
}

/* line 131, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotakproduct {
  min-height: 300px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

/* line 140, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 {
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 150, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 p {
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}

/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 161, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 167, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 173, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 560px;
  }

  /* line 179, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 95%;
  }

  /* line 184, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 48%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }

  /* line 193, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo {
    text-align: center;
    height: 100%;
    background: fff;
    width: 100%;
  }

  /* line 200, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo img {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: centre;
  }
}
@media (max-width: 767px) {
  /* line 211, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 218, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 224, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 460px;
  }

  /* line 230, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 235, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 640px) {
  /* line 250, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 255, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 261, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 350px;
  }

  /* line 266, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 271, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 480px) {
  /* line 284, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 290, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 296, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 280px;
  }

  /* line 302, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 307, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 412px) {
  /* line 320, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 16px;
  }

  /* line 326, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 332, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 338, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 343, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 320px) {
  /* line 356, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 12px;
  }

  /* line 361, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 300px;
    margin: 10px 10px 30px 16px;
    padding-top: 10px;
    border: 1px solid #E8E8E8;
    float: left;
  }

  /* line 370, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 376, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 382, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 387, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
