/* line 3, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 8, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h5 {
  font-size: 24px;
}

/* line 13, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 17, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 21, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 85%;
  padding: 15px;
}
/* line 28, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel .item img {
  width: 100%;
  height: 360px;
}

/* line 33, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 41, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item span {
  font-style: normal;
}

/* line 45, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel1 {
  width: 70%;
  min-height: 260px;
  margin: 10px 10px 20px 0px;
  padding-top: 10px;
  border: 1px solid #E8E8E8;
}

/* line 54, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo {
  text-align: center;
  height: 190px;
  background: fff;
  width: 100%;
}

/* line 61, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo img {
  height: 190px;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 67, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 76, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 82, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 88, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 560px;
  }

  /* line 94, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 95%;
  }

  /* line 99, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 48%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }

  /* line 108, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo {
    text-align: center;
    height: 100%;
    background: fff;
    width: 100%;
  }

  /* line 115, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo img {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: centre;
  }
}
@media (max-width: 767px) {
  /* line 126, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 133, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 139, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 460px;
  }

  /* line 145, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 150, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 640px) {
  /* line 165, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 170, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 176, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 350px;
  }

  /* line 181, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 186, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 480px) {
  /* line 199, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 205, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 211, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 280px;
  }

  /* line 217, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 222, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 412px) {
  /* line 235, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 16px;
  }

  /* line 241, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 247, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 253, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 258, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 320px) {
  /* line 271, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 12px;
  }

  /* line 276, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 300px;
    margin: 10px 10px 30px 16px;
    padding-top: 10px;
    border: 1px solid #E8E8E8;
    float: left;
  }

  /* line 285, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 291, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 297, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 302, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 318, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h4 {
  font-size: 16px;
}

/* line 323, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h3 {
  font-size: 20px;
}

/* line 328, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.containerproduct {
  padding: 20px;
  width: 100%;
}

/* line 333, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft {
  margin-left: 1cm;
}

/* line 336, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft1 {
  margin-left: -2cm;
}

/* line 340, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelpreview {
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

/* line 347, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
#content-wrapper {
  position: relative;
  display: inline;
}

/* line 352, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotaksewa {
  min-height: 400px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 20px 150px 0px 150px;
  padding: 10px;
}

/* line 360, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelproduct {
  float: left;
}

/* line 365, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 366, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777;
}
/* line 367, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .current {
  background: yellow;
}
/* line 368, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 369, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777;
}

/* line 373, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.thumbnail img {
  height: 10px;
}

/* line 378, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotakproduct {
  min-height: 300px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

/* line 387, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 {
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 397, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 p {
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}
