/* line 3, /root/handbo2/app/assets/stylesheets/products.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 8, /root/handbo2/app/assets/stylesheets/products.css.scss */
h5 {
  font-size: 24px;
}

/* line 13, /root/handbo2/app/assets/stylesheets/products.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 17, /root/handbo2/app/assets/stylesheets/products.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 21, /root/handbo2/app/assets/stylesheets/products.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 85%;
  padding: 15px;
}
/* line 28, /root/handbo2/app/assets/stylesheets/products.css.scss */
.carousel .item img {
  width: 100%;
  height: 360px;
}

/* line 33, /root/handbo2/app/assets/stylesheets/products.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 41, /root/handbo2/app/assets/stylesheets/products.css.scss */
.item span {
  font-style: normal;
}

/* line 45, /root/handbo2/app/assets/stylesheets/products.css.scss */
.panel1 {
  width: 48%;
  min-height: 260px;
  margin: 10px 10px 20px 0px;
  padding-top: 10px;
  border: 1px solid #E8E8E8;
  float: left;
}

/* line 55, /root/handbo2/app/assets/stylesheets/products.css.scss */
.tcb-product-photo {
  text-align: center;
  height: 190px;
  background: fff;
  width: 100%;
}

/* line 62, /root/handbo2/app/assets/stylesheets/products.css.scss */
.tcb-product-photo img {
  height: 190px;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 68, /root/handbo2/app/assets/stylesheets/products.css.scss */
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 77, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 83, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 89, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 560px;
  }

  /* line 95, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 95%;
  }

  /* line 100, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 48%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }

  /* line 109, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo {
    text-align: center;
    height: 100%;
    background: fff;
    width: 100%;
  }

  /* line 116, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo img {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: centre;
  }
}
@media (max-width: 767px) {
  /* line 127, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 134, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 140, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 460px;
  }

  /* line 146, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 151, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 640px) {
  /* line 166, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 171, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 177, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 350px;
  }

  /* line 182, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }

  /* line 187, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 480px) {
  /* line 200, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 206, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 212, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 280px;
  }

  /* line 218, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 223, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 412px) {
  /* line 236, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 16px;
  }

  /* line 242, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 248, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 254, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 259, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
@media (max-width: 320px) {
  /* line 272, /root/handbo2/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 12px;
  }

  /* line 277, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 300px;
    margin: 10px 10px 30px 16px;
    padding-top: 10px;
    border: 1px solid #E8E8E8;
    float: left;
  }

  /* line 286, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 292, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 298, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }

  /* line 303, /root/handbo2/app/assets/stylesheets/products.css.scss */
  .panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 319, /root/handbo2/app/assets/stylesheets/products.css.scss */
h4 {
  font-size: 16px;
}

/* line 324, /root/handbo2/app/assets/stylesheets/products.css.scss */
h3 {
  font-size: 20px;
}

/* line 329, /root/handbo2/app/assets/stylesheets/products.css.scss */
.containerproduct {
  padding: 20px;
  width: 100%;
}

/* line 334, /root/handbo2/app/assets/stylesheets/products.css.scss */
.sideleft {
  margin-left: 1cm;
}

/* line 337, /root/handbo2/app/assets/stylesheets/products.css.scss */
.sideleft1 {
  margin-left: -2cm;
}

/* line 341, /root/handbo2/app/assets/stylesheets/products.css.scss */
.labelpreview {
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

/* line 348, /root/handbo2/app/assets/stylesheets/products.css.scss */
#content-wrapper {
  position: relative;
  display: inline;
}

/* line 353, /root/handbo2/app/assets/stylesheets/products.css.scss */
.kotaksewa {
  min-height: 400px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 20px 150px 0px 150px;
  padding: 10px;
}

/* line 361, /root/handbo2/app/assets/stylesheets/products.css.scss */
.labelproduct {
  float: left;
}

/* line 366, /root/handbo2/app/assets/stylesheets/products.css.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 367, /root/handbo2/app/assets/stylesheets/products.css.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777;
}
/* line 368, /root/handbo2/app/assets/stylesheets/products.css.scss */
.pagination .current {
  background: yellow;
}
/* line 369, /root/handbo2/app/assets/stylesheets/products.css.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 370, /root/handbo2/app/assets/stylesheets/products.css.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777;
}

/* line 374, /root/handbo2/app/assets/stylesheets/products.css.scss */
.thumbnail img {
  height: 10px;
}

/* line 379, /root/handbo2/app/assets/stylesheets/products.css.scss */
.kotakproduct {
  min-height: 300px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

/* line 388, /root/handbo2/app/assets/stylesheets/products.css.scss */
.panel2 {
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 398, /root/handbo2/app/assets/stylesheets/products.css.scss */
.panel2 p {
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}
