/* line 2, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
#content-wrapper {
  position: relative;
  display: inline;
}

/* line 7, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.containerproduct {
  padding: 20px;
  width: 100%;
}

/* line 12, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}

/* line 17, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h5 {
  font-size: 24px;
}

/* line 22, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li {
  border-color: #f4511e;
}

/* line 26, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel-indicators li.active {
  background-color: #f4511e;
}

/* line 30, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  width: 85%;
  padding: 15px;
}
/* line 37, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.carousel .item img {
  width: 100%;
  height: 360px;
}

/* line 42, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

/* line 50, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.item span {
  font-style: normal;
}

/* line 54, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel1 {
  width: 48%;
  min-height: 260px;
  margin: 10px 10px 20px 0px;
  padding-top: 10px;
  border: 1px solid #E8E8E8;
  float: left;
}

/* line 64, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo {
  text-align: center;
  height: 190px;
  background: fff;
  width: 100%;
}

/* line 71, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo img {
  height: 190px;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 77, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/*----------------START RESPONSIVE DESIGN------------*/
@media (max-width: 1280px) {
  /* line 87, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo {
    text-align: center;
    height: 100%;
    background: fff;
    width: 100%;
  }

  /* line 94, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .tcb-product-photo img {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: centre;
  }

  /* line 101, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 107, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 600px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 113, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 560px;
  }

  /* line 119, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 95%;
  }
}
@media (max-width: 767px) {
  /* line 127, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 134, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 140, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 460px;
  }

  /* line 146, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }
}
@media (max-width: 640px) {
  /* line 155, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 160, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 166, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 350px;
  }

  /* line 171, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 90%;
  }
}
@media (max-width: 480px) {
  /* line 179, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 20px;
  }

  /* line 185, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 191, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 280px;
  }

  /* line 197, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }
}
@media (max-width: 412px) {
  /* line 205, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 16px;
  }

  /* line 211, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 217, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 223, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }
}
@media (max-width: 320px) {
  /* line 232, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  h5 {
    font-size: 12px;
  }

  /* line 238, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel {
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }
  /* line 244, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .carousel .item img {
    width: 100%;
    height: 180px;
  }

  /* line 250, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
  .col-xs-6 {
    width: 85%;
  }
}
/*----------------END RESPONSIVE DESIGN------------*/
/* line 261, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h4 {
  font-size: 16px;
}

/* line 266, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h3 {
  font-size: 20px;
}

/* line 271, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft {
  margin-left: 1cm;
}

/* line 274, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft1 {
  margin-left: -2cm;
}

/* line 278, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelpreview {
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

/* line 284, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotaksewa {
  min-height: 400px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 20px 150px 0px 150px;
  padding: 10px;
}

/* line 292, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelproduct {
  float: left;
}

/* line 297, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 298, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777;
}
/* line 299, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .current {
  background: yellow;
}
/* line 300, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 301, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777;
}

/* line 305, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.thumbnail img {
  height: 10px;
}

/* line 310, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotakproduct {
  min-height: 300px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 0px;
  padding: 5px;
  margin-bottom: 15px;
}
