/* line 2, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
}

/* line 9, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #d33823;
}

/* line 17, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  color: #d33823;
}

/* line 24, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
}

/* line 30, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.containerproduct {
  padding: 20px;
  width: 100%;
}

/* line 35, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft {
  margin-left: 1cm;
}

/* line 38, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.sideleft1 {
  margin-left: -2cm;
}

/* line 42, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelpreview {
  width: 80px;
  font-size: 18px;
  display: inline-block;
}

/* line 48, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel1 {
  width: 60%;
  min-height: 260px;
  margin: 10px 10px 20px 0px;
  padding-top: 10px;
  border: 1px solid #E8E8E8;
}

/* line 56, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
#content-wrapper {
  position: relative;
  display: inline;
}

/* line 61, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotaksewa {
  min-height: 400px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 20px 150px 0px 150px;
  padding: 10px;
}

/* line 69, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.labelproduct {
  float: left;
}

/* line 74, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 75, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777;
}
/* line 76, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .current {
  background: yellow;
}
/* line 77, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 78, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777;
}

/* line 82, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.thumbnail img {
  height: 10px;
}

/* line 87, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.kotakproduct {
  min-height: 300px;
  border: 1px solid #E8E8E8;
  width: auto;
  margin: 0px;
  padding: 5px;
  margin-bottom: 15px;
}

/* line 96, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 {
  width: 100%;
  height: auto;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
}

/* line 106, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.panel2 p {
  font-size: 12px;
  font-family: 'Roboto Slab', serif;
}

/* line 115, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo {
  text-align: center;
  height: auto;
  background: fff;
  width: 100%;
}

/* line 122, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
  width: 100%;
  position: centre;
}

/* line 128, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/* line 133, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.btn-default {
  background-color: #f5f5f5;
}

/* line 137, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/products.css.scss */
.btn-default:hover, .btn-default:focus {
  color: #000;
  background-color: #d33823;
  border-color: #285e8e;
  /*set the color you want here*/
}
