/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* line 5, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel {
  margin-bottom: 60px;
}

/* line 9, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel .container {
  position: relative;
  z-index: 9;
}

/* line 14, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

/* line 24, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel .item {
  height: 800px;
}

/* line 27, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel img {
  position: absolute;
  top: 100;
  left: 0;
  width: auto;
  height: 500px;
}

/* line 36, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
}

/* line 45, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

/* line 52, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
.carousel-caption .btn {
  margin-top: 10px;
}

/* line 55, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
h1 {
  font-size: 40px;
  font-family: Freight, HoeflerText-Black, Times New Roman, serif;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  /* line 68, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel .item {
    height: 500px;
  }

  /* line 71, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel img {
    width: auto;
    height: 500px;
  }
}
@media (max-width: 767px) {
  /* line 82, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  /* line 89, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel .item {
    height: 300px;
  }

  /* line 92, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel img {
    height: 300px;
  }

  /* line 95, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }

  /* line 100, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel-caption h1 {
    font-size: 30px;
  }

  /* line 103, /home/bens/handbo14juli2017/handbo/app/assets/stylesheets/welcome.scss */
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
}
