<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="google-site-verification" content="E5qBmBVCRCHA2anG3lByPa6JVtI7QYAyj-YAlurBjCc"/>
  <% provide(:title,'Edit User') %>
  <%= stylesheet_link_tag "homes" %>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
  <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
<body>

<%= form_for @user do |f| %>
<div class="container atas">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <center><% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>   
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %></center>
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="col-md-6 col-md-offset-3">
            <center><h4>Edit Profil</h4></center><br>
          </div>

<div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :nama, class: "sr-only" %>
          <%= f.text_field( :nama, class: "form-control", placeholder: "nama") %>
        </div>
      </div>
    </div>  
  

    <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :email, class: "sr-only" %>
          <%= f.text_field( :email, type:"email", class: "form-control", required:true, placeholder: "email") %>
        </div>
      </div>
    </div>

     <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :Kota, class: "sr-only" %>
          <%= f.text_field( :kota,class: "form-control", placeholder: "Kota") %>
        </div>
      </div>
    </div>

 <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :nohp, class: "sr-only" %>
          <%= f.text_field( :nohp, class: "form-control", placeholder: "No hp/Telepon") %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="actions">
   <center><div class="actions"><%= f.submit "Update",data: {disable_with: "Please wait..."},class:"btn btn-primary" %></div></center>
  </div>
  <br>
<% end %>

<%= render 'layouts/footer' %>
</body>
</html>