<%= stylesheet_link_tag "products" %>
<%= render 'layouts/header' %>

<h1 class="text-center">Transaksi Sewa</h1>

<div class="containerproduct">
<table class="table table-stripted table-hover table-responsive">
  <thead>
    <tr>
      <th>Gambar</th> 
      <th>Nama Barang</th>
      <th>No HP</th>
    </tr>
  </thead>  
        <% @products.each do |product| %>
        <td><%= image_tag product.image(:thumb) %></td>
        <td><%= product.item %></td>
        <td><%= product.subitem %></td>
      </tr>
    <% end %>
      </tbody>
</table>



