<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Mobil saya') %>
  <%= stylesheet_link_tag "products" %>
</head>
<body>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= render 'layouts/header' %>

<h1 class="text-center">Mobil Saya</h1>

<div class="containerproduct">
<table class="table table-stripted table-hover table-responsive">
  <thead>
    <tr>
      <th>Gambar</th>
      <th>Nama Mobil</th>  
      <th>Merk</th>
      <th>No HP</th>
      <th>Kota</th>
      <th>Harga sewa/hari</th> 
      <th colspan="3"></th>
      
    </tr>
  </thead>  
        <% @users.each do |user| %>
        <td><%= image_tag user.image(:thumb) %></td>
        <td><%= user.item%></td>
        <td><%= user.tambahanproduk %></td>
        <td><%= user.subitem %></td>
        <td><%= user.stadt %></td>
        <td><%= number_to_currency_br(user.klasifikasikategory) %></td>
        <td><%= link_to 'Lihat', user,class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Ubah', edit_product_path(user),class:"btn btn-info btn-sm" %></td>
        <td><%= link_to 'Hapus', user,class:"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
      </tbody>
</table>

<br>

<%= link_to 'Listing Mobil', new_product_path,class:"btn btn-danger" %>

</body>
</html>