

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Item</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <% user.products.each do |product| %>
        
        <td><%= product.item %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= render 'sewas/form' %>

<br>

<%= link_to 'New User', new_user_path %>
