<% provide(:title,'Register') %>
<%= stylesheet_link_tag "homes" %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav  navbar-left">
      <%= link_to '',root_path,class:"glyphicon glyphicon-home btn-lg" %>
    </ul>
  </div>
</nav>

<%= form_for User.new do |f| %>
<div class="container atas">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <center><% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>   
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %></center>
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="col-md-6 col-md-offset-3">
            <center><h4>Register</h4></center><br>
          </div>
  
  <div class="form-inputs">
    <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <%= f.label :email, class: "sr-only" %>
        <%= f.text_field(:email, class: "form-control", placeholder: "Email", required: true, type:"email") %>
    </div>
  </div>
  </div>

    <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :password, class: "sr-only" %>
          <%= f.text_field( :password, type:"password", class: "form-control", required:true, placeholder: "Password") %>
          <label style="color:black; font-size: 12px">(*Password must be at least 6 characters)</label>

        </div>
      </div>
    </div>

    <div class="form-group has-success has-feedback">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :password_confirmation, class: "sr-only" %>
          <%= f.text_field(:password_confirmation, type:"password", class: "form-control", required: true, placeholder: "Ulangi Password") %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit id:"btntambah",class:"btn btn-primary",data: {disable_with: "Please wait..."} %>
  </div>

  <div class="form-group">
    <div class="row">
      <div class=".col-xs-6 .col-sm-4">
         <div class="text-right">
            <%= link_to "Sudah Punya Account ?",login_path,id:"register-tab",class:"btn btn-link" %>
          </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    var password = document.getElementById("user_password")
  , confirm_password = document.getElementById("user_password_confirmation");

function validatePassword(){
  if(user_password.value != user_password_confirmation.value) {
    user_password_confirmation.setCustomValidity("Passwords tidak sama");
  } else {
    user_password_confirmation.setCustomValidity('');
  }
}
password.onchange = validatePassword;
user_password_confirmation.onkeyup = validatePassword;
</script>

</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
(function() {

  const config = {
    apiKey: "AIzaSyDBVByTSzipZs8uCIn38mfk3lVJXZTlE2g",
    authDomain: "handbo-3c845.firebaseapp.com",
    databaseURL: "https://handbo-3c845.firebaseio.com",
    storageBucket: "handbo-3c845.appspot.com",
    messagingSenderId: "146974279618"
  };
  firebase.initializeApp(config);

  //mencari inputan element
  const lg_username = document.getElementById('lg_username');
  const lg_password = document.getElementById('lg_password');
  const btntambah = document.getElementById('btntambah');


  //menu register
  btntambah.addEventListener('click', e => {
    const email = lg_username.value;
    const pass = lg_password.value;
    const auth = firebase.auth();

    //login
    const promise = auth.createUserWithEmailAndPassword(email,pass);
    promise
    .catch(e => console.log(e.message));
  });



}());
</script>

<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->