
  <%= render 'layouts/header' %>
  <p class="text-center">Keterangan Barang</p>
  
<div class="containerproduct">
  <div class="col-md-3 col-md-offsite-1">
    <h4><%= image_tag@product.user.image(:medium) %></h4>
    </div>


  
    <div class="col-md-9">
    <table class="table table-stripted table-responsive">
    <tr>
      <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Nama Barang  :</h4></td>
          <td><h4><%= @product.item %></h4></td>  
      </div>
      </div>
      </tr>

    
     <tr>
    

  <tr>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Harga  :</h4></td>
          <td><h4><%= number_to_currency_br(@product.price) %> </h4>
    </div>
  </div>
  </tr>
    <tr>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>No HP  :</h4></td>
          <td><h4><%= @product.subitem %> </h4></td>
    </div>
  </div>
  </tr>

  <tr>  
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Keterangan  :</h4></td>
          <td><h4><%= @product.description %> </h4></td>
    </div>
  </div>

  </tr>

  <tr>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Kota  :</h4></td>
          <td><h4><%= @product.stadt %> </h4></td>
    </div>
  </div>
  </tr>
  <tr>
  <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Klasifikasi kategory  :</h4></td>
          <td><h4><%= @product.klasifikasikategory %> </h4></td>
    </div>
  </div>
</tr>
<tr>
  <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Alamat Detail  :</h4></td>
          <td><h4><%= @product.produktambahan %> </h4></td>
    </div>
  </div>
</tr>
<tr>
  <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Stok  :</h4></td>
          <td><h4><%= @product.tambahanproduk %> </h4></td>
    </div>
  </div>
</tr>
<div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Kualitas  :</h4></td>
          <td><h4><%= @product.nilaikualitas %> </h4></td>
    </div>
  </div>
</tr>
  </table>
 </div>
<br></br>
<div class="text-left">


      <%= link_to 'Add Product',new_product_path, class:"btn btn-info"%>
    <div class="text-center"><%= link_to 'Submit', lihat_path, class:"btn btn-danger" %></div>
    
</div>
