<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
</head>
<body>
  <%= render 'layouts/header' %>
  <br>
  <h4 class="text-center">My profil</h4>
  
<div class="container atas">
  
    <div class="col-md-12">
    <table class="table table-stripted table-responsive">
    <tr>
      <div class="row">
      <div class="col-md-2 col-md-offset-1">
          <td><h4>Nama:</h4></td>
          <td><h4><%= @user.nama %></h4></td>  
      </div>
      </div>
      </tr>

      <tr>
        <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <td><h4>Email  :</h4></td>
          <td><h4><%=@user.email%></h4></td>
      </div>
      </div>
      </tr>

    
     <tr>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
         <td><h4>Kota  :</h4></td>
          <td><h4><%= @user.kota %></h4></td>
    </div>
  </div>
</tr>

  <tr>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
         <td><h4>No hp/ Telepon  :</h4></td>
          <td><h4><%= @user.nohp %></h4></td>
    </div>
  </div>
</tr>

</td>

  </table>
 </div>
<br></br>
  <%=link_to'edit', edit_user_path, class: "btn btn-info"%>
    
</body>
</html>