<%= stylesheet_link_tag "homes" %>
<% provide(:title, 'Sewa Mobil Murah Dan Terbaik') %>

 <div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/logonew.png",size:"100x47"),home_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Lihat Mobil",lihat_path %></li>
              <li><%= link_to "Listing Mobil",createitem_path %></li>
              <li><span class="nav-itemButton"><%= link_to "Daftar ",register_path,class:"btn button-smaller" %></li></span>
              <li><%= link_to "Masuk",login_path %></li>
            </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>
  <br><br>
  <div class="container atas">
    <div class="panel panel-default">
        <div class="panel-heading"><h2><center>Cara Menyewa Mobil di Handbo</center></h2></div>
        <div class="panel-body">
          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/registertutorial.png", class:"img-responsive" %><br>
            <p><b>Langkah Pertama : </b></p>
            <p>Setelah anda mengakses website https://www.handbo.id/ , selanjutnya anda klik pada menu DAFTAR (jika belum mempunyai akun diwebsite).</p>
          </div>
          
          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/menuregister.png", class:"img-responsive" %><br>
            <p><b>Langkah Kedua : </b></p>
            <p>Setelah anda mengklik menu DAFTAR, maka untuk mendaftar akun, selanjutnya isi form tersebut dengan lengkap dan benar.</p><br>
          </div>
         
          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/logintut.png", class:"img-responsive" %><br>
            <p><b>Langkah Ketiga : </b></p>
            <p>Jika sudah mempunyai akun Handbo, langsung MASUK untuk memulai menyewa.</p>
          </div>

          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/homelogin.png", class:"img-responsive" %><br>
            <p><b>Langkah Keempat : </b></p>
            <p>Jika Anda sudah login, makan tampilan website di index menjadi seperti ini, Lalu silahkan melanjutkan untuk memilih mobil yang ingin anda sewa pada menu "Lihat Mobil"</p>
          </div>

          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/homelogin.png", class:"img-responsive" %><br>
            <p><b>Langkah Kelima : </b></p>
            <p>Jika Anda sudah login, makan tampilan website di index menjadi seperti ini, Lalu silahkan melanjutkan untuk memilih mobil yang ingin anda sewa pada menu "Lihat Mobil"</p>
          </div>

          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/lihattut.png", class:"img-responsive" %><br>
            <p><b>Langkah Keenam : </b></p>
            <p>Ini adalah beberapa list mobil yang dapat anda sewakan, silahkan dipilih dan terdapat juga menu pencarian yang berdasarkan kota, setelah mendapatkan mobil yang akan di. Silahkan anda tekan tombol SEWA</p><br>
          </div>

           <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/formsewatut.png", class:"img-responsive" %><br>
            <p><b>Langkah Ketujuh : </b></p>
            <p>Menu sewa, terdapat keterangan tentang mobil yang anda ingin sewa. Baca dengan benar keterangan agar mobil yang ada sewa sesuai dengan keinginan</p>
          </div>

          <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/booktut.png", class:"img-responsive" %><br>
            <p><b>Langkah Kedelapan : </b></p>
            <p>Setelah membaca keterangan mobilnya, silahkan scrol kebawah terdapat tanggal,bulan,tahun.silahkan pilih sesuai keinginan anda dalam menyewa mobil.</p>
          </div>

           <div class="col-md-6">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/confirmtut.png", class:"img-responsive" %><br>
            <p><b>Langkah Kesembilan : </b></p>
            <p>Isi form booking dengan benar dan valid, lalu tekan tombol confirm booking.</p>
          </div>

           <div class="col-md-6">
            <div class="col-md-4">
            <%= image_tag "https://s3.amazonaws.com/handboaws/home/emailtut.jpg", class:"img-responsive" %><br></div>
            <p><b>Langkah Kesepuluh : </b></p>
            <p>Sesudah anda menekan tombol confirm booking, maka anda mendapat email dari sistem berdasarkan mobil yang anda pilih, dan tunggu konfirmasi dari penyewa.</p>
          </div>
       

        </div>

    </div>
  </div>

<footer>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="isifooter1">
            <a style="color: #fff; text-decoration: " href="https://blog.handbo.id/" target="_blank">Blog</a>
          </div>
          <div class="isifooter2">
            <a><%= link_to "Jadi Partner Kami", partnerdengankami_path, {style: "color: white"} %></a>
          </div>
          <div class="isifooter3">
            <a><%= link_to "Syarat dan Ketentuan", syaratdanketentuan_path, {style: "color: white"} %></a>
            </div>
        </div>

          <div class="col-sm-4 col-xs-4">
              <div class="isifooter">
                <p>Follow Us</p>
           
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/twitter.png",size:"15x15"),"https://twitter.com/handboindonesia", target:"_blank" %>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/facebook1.png",size:"15x15"),"https://www.facebook.com/handboindonesia", target:"_blank"%>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/insta.png",size:"15x15"),"https://www.instagram.com/handbo", target:"_blank" %>
            </div></div>
          <div class="col-sm-4 col-xs-4">
            <div class="isifooter">
              <a><%= link_to "Butuh Mobil Secepatnya ?",new_request_path, {style: "color: white"} %></a><br>
           </div></div>

          
        <div class="clear"></div>
        <hr>
        <div class="copyright"><p>Made with ♥ from Indonesia 2017</p></div>
      </div>
    </div>  

</footer>
  

 <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
