<%= stylesheet_link_tag "homes" %>
<% provide(:title, 'Sewa Mobil Murah Dan Terbaik') %>
<% if current_user %>
<%= render 'layouts/header' %>
<% else %>
 <div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("logonew.png",size:"100x47"),root_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Lihat Mobil",lihat_path %></li>
              <li><%= link_to "Listing Mobil",createitem_path %></li>
              <li><span class="nav-itemButton"><%= link_to "Daftar ",register_path,class:"btn button-smaller" %></li></span>
              <li><%= link_to "Masuk",login_path %></li>
            </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>

<% end %>
 
    <br>
<div class="banner">
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-info">
             <%= image_tag "https://s3.amazonaws.com/handboaws/home/avanza.jpg", class:"img-responsive" %>
          <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
      </div>
            </div>
          </li>

          <li>
            <div class="banner-info1">
              <%= image_tag "https://s3.amazonaws.com/handboaws/home/ertiga.jpg", class:"img-responsive" %>
            <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
            </div>
            </div>
          </li>
          
          <li>
            <div class="banner-info2">
              <%= image_tag "https://s3.amazonaws.com/handboaws/home/city.jpg", class:"img-responsive" %>
              <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
  
              </div>
            </div>
          </li>
        </ul>
      </div>
<br>

<div class="container atas">
  

     <div class="panel panel-default">
        <div class="panel-heading"><h2><center>Partner Dengan Kami</center></h2></div>
        <div class="panel-body" style="text-align: justify;"><h4>Formulir Pendaftaran Partner Rental ini untuk apa?</h4>
        <p>Pertama-tama kami ingin menyampaikan terima kasih kepada rekan-rekan sekalian yang telah berminat untuk bergabung dalam Program Partner Rental Handbo dan mengajukan Formulir Pendaftaran Partner Rental ini ("Formulir Pendaftaran"). Formulir pendaftaran ini bisa didownload setelah Anda menyetujui ketentuan dan persyaratan Program Partner Rental Handbo dibawah ini. Formulir Pendaftaran ini digunakan untuk mendaftar sebagai Partner Rental di Handbo yang berbasis bisnis online. Setelah terdaftar sebagai Partner Rental maka mobil Partner Rental akan bisa ditampilkan di website Handbo dan bisa diikut sertakan dalam berbagai Program Rental yang diselenggarakan oleh Handbo dan semua afiliasinya, yang memungkinkan Partner Rental menerima pendapatan lewat bisnis online Handbo. Isilah setiap bagian dalam Formulir Pendaftaran ini dan lengkapi seluruh dokumen pendukung yang disyaratkan secara lengkap dan benar. </p>
        <br>
        <h4>Setelah semuanya lengkap lalu apa yang harus dilakukan berikutnya?</h4>
        <p>Formulir pendaftaran yang sudah lengkap dan benar, berikut dengan semua softcopy dokumen pendukung yang disyaratkan dapat dikirimkan melalui customerservice@handbo.id email kepada kami yaitu untuk kami kaji dan jika ada kesalahan atau ada bagian yang kurang lengkap atau kurang jelas, tim admin Kami akan menghubungi Anda di nomor telpon atau email yang sudah tertera di Formulir Pendaftaran. Kami akan mengirimkan email pemberitahuan mengenai status verifikasi formulir pendaftaran Anda.</p>
        <br>
        <h4>PERNYATAAN-PERNYATAAN </h4>
        <p>Pemohon dengan ini mengajukan permohonan ke Handbo untuk terdaftar sebagai Partner Rental, sesuai dengan data dan informasi yang pemohon nyatakan dalam Formulir Pendaftaran Partner Rental, dan menyatakan tunduk dan mentaati Syarat dan Ketentuan sebagai berikut:</p>
        <p>Bersedia untuk mentaati seluruh syarat dan ketentuan umum yang dinyatakan dalam Formulir ini dan juga seluruh syarat dibawah ini: </p>
        <p>PASAL 1</p>
        <p>A. Rental termasuk Supirnya tidak boleh menerima order dari pelanggan Handbo secara langsung.</p>
        <p>B. Rental termasuk Supirnya tidak boleh menghubungi pelanggan Handbo secara langsung untuk menawarkan layanan sewa mobil maupun jasa Sopir.</p> 
        <p>C. Rental termasuk Supirnya harus menyarankan pelanggan Handbo untuk melakukan booking sewa mobil maupun jasa supir melalui website Handbo untuk penggunaan sewa mobil berikutnya maupun jasa supir.</p> 
        <p>D. Rental termasuk Supirnya tidak boleh menyebutkan harga sewa mobil maupun jasa supir yang telah disepakati antara Handbo dan partner rental kepada pelanggan Handbo.</p>
        <p>E. Semua syarat dan ketentuan yang terkadung dalam Formulir Pendaftaran Rental ini dapat dikembangkan sesuai kondisi dari waktu ke waktu dan Handbo akan mengirimkan tambahan syarat dan ketentuan melalui email yang harus disetujui oleh Partner Rental.</p>
        <p>F. Pemohon memahami bahwa pelanggaran terhadap pasal 1.A, 1.B, 1.C, atau 1.D mengakibatkan sanksi diakhirinya hubungan kerjasama antara Handbo dengan rental yang bersangkutan yang semuanya ini juga diatur dalam pasal 2 Syarat dan Ketentuan Umum. </p>
        <p>PASAL 2</p>
        <p>A. Pemohon memberi kewenangan penuh kepada Handbo untuk melakukan validasi dan verifikasi atas setiap data yang dinyatakan dalam formulir ini, termasuk menghubungi setiap orang di nomor telpon yang tercantum dalam formulir ini.</p> 
        <p>B. Pemohon memahami bahwa informasi dan data yang diberikan dalam Formulir Pendaftaran ini juga dapat dibuka dan diungkapkan oleh Handbo ke Mitra Vendor, termasuk tapi tidak terbatas pada penyedia akomodasi, entertainment, atau transportasi lainnya untuk tujuan pemberitahuan bahwa Pemohon telah menjadi Partner Rental Handbo.</p>
        <p>C. Persetujuan Handbo atas Formulir Pendaftaran, akan disampaikan melalui email ke alamat email yang didaftarkan oleh Pemohon. Keputusan Handbo untuk menerima atau menolak (baik dengan atau tanpa alasan) adalah mutlak dan tidak dapat diganggu-gugat. Pemohon setuju untuk tidak menuntut Perusahaan secara hukum atas penolakan Formulir Pendaftaran dan Handbo tidak harus menyebutkan alasan dari penolakan tersebut. </p>
        <p>Pemohon telah membaca dengan seksama seluruh Syarat dan Ketentuan Program Partner Rental di Handbo dan Pemohon menyatakan setuju dan sepakat serta terikat dengan setiap dan semua Syarat dan Ketentuan Program Partner Handbo.</p>
        <br>
        <strong><p>Jika anda bersedia dengan ketentuan diatas, silahkan download formulirnya <a href="https://drive.google.com/file/d/0Bzv-uRbxWbkfd1ZGZjlaWG16VFU/view?usp=sharing">disini</a> dan kirim formulir ke <a style="color: red"> customerservice@handbo.id</a></p></strong>

        </div>

  </div>
</div>




<footer>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="isifooter1">
            <a style="color: #fff; text-decoration: " href="https://blog.handbo.id/" target="_blank">Blog</a>
          </div>
          <div class="isifooter2">
            <a><%= link_to "Jadi Partner Kami", partnerdengankami_path, {style: "color: white"} %></a>
          </div>
          <div class="isifooter3">
            <a><%= link_to "Syarat dan Ketentuan", syaratdanketentuan_path, {style: "color: white"} %></a>
            </div>
        </div>

          <div class="col-sm-4 col-xs-4">
              <div class="isifooter">
                <p>Follow Us</p>
           
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/twitter.png",size:"15x15"),"https://twitter.com/handboindonesia", target:"_blank" %>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/facebook1.png",size:"15x15"),"https://www.facebook.com/handboindonesia", target:"_blank"%>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/insta.png",size:"15x15"),"https://www.instagram.com/handbo", target:"_blank" %>
            </div></div>
          <div class="col-sm-4 col-xs-4">
            <div class="isifooter">
              <a><%= link_to "Butuh Mobil Secepatnya ?",new_request_path, {style: "color: white"} %></a>
           </div></div>

          
        <div class="clear"></div>
        <hr>
        <div class="copyright"><p>Made with ♥ from Bekasi 2017</p></div>
      </div>
    </div>  

</footer>        
    <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8782091;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

<%= javascript_include_tag "responsiveslides.min"%>
 <!-- Slider-starts-Here -->
         <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 1500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });
        
            });
          </script>
      <!--//End-slider-script -->

