<%= stylesheet_link_tag "homes" %>
<% provide(:title, 'Sewa Mobil Murah Dan Terbaik') %>
<% if current_user %>
<%= render 'layouts/header' %>
<% else %>
 <div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("logonew.png",size:"100x47"),root_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Lihat Mobil",lihat_path %></li>
              <li><%= link_to "Listing Mobil",createitem_path %></li>
              <li><span class="nav-itemButton"><%= link_to "Daftar ",register_path,class:"btn button-smaller" %></li></span>
              <li><%= link_to "Masuk",login_path %></li>
            </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>

<% end %>
    <br>
<div class="banner">
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-info">
             <%= image_tag "https://s3.amazonaws.com/handboaws/home/avanza.jpg", class:"img-responsive" %>
          <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
      </div>
            </div>
          </li>

          <li>
            <div class="banner-info1">
              <%= image_tag "https://s3.amazonaws.com/handboaws/home/ertiga.jpg", class:"img-responsive" %>
            <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
            </div>
            </div>
          </li>
          
          <li>
            <div class="banner-info2">
              <%= image_tag "https://s3.amazonaws.com/handboaws/home/city.jpg", class:"img-responsive" %>
              <div class="banner-inf">
              <h1>Sewa Mobil</h1><br>
              <p>Termurah dan Terbaik</p><br><br>
              <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
                
  
              </div>
            </div>
          </li>
        </ul>
      </div>
<br>

<div class="container atas">
  

     <div class="panel panel-default">
        <div class="panel-heading"><h2><center>Syarat dan Ketentuan</center></h2></div>
        <div class="panel-body" style="text-align: justify;"><h4>Persetujuan antara pengguna dan Handbo</h4>
        <p>Handbo, selanjutnya disebut “Kami”, adalah e-marketplace platform jasa rental mobil kepada pengguna layanan Handbo, selanjutnya disebut “Anda”. Kami menyediakan layanan pencarian dan perbandingan harga sewa mobil dari Pihak Ketiga untuk Anda dengan tujuan untuk memudahkan Anda menyewa mobil sesuai pilihan Anda.</p>
        <p>Handbo bukan perusahaan sewa mobil dan/atau agen perjalanan. Kami tidak bertanggung jawab untuk menyediakan dan mengatur/mengendalikan harga sewa mobil yang tertera di hasil pencarian. Seluruh hasil pencarian yang tertera di Handbo disediakan secara mandiri oleh perusahaan rental mobil, selanjutnya disebut “Pihak Ketiga”, yang tergabung dengan Kami dan tunduk kepada syarat dan ketentuan yang dikenakan oleh Handbo dan Pihak Ketiga tersebut.</p>
        <p>Syarat dan Perjanjian yang tertera di platform ini menjadi dasar Anda untuk menerima semua persyaratan, kondisi, dan pemberitahuan yang ditetapkan di bawah ini (secara kolektif disebut “Syarat Penggunaan” atau “Syarat dan Perjanjian”). Anda diminta membaca Syarat dan Perjanjian dengan hati-hati karena mengandung informasi-informasi penting tentang platform Handbo. Anda juga harus membaca Kebijakan Privasi Kami yang mengatur lebih rinci mengenai keamanan data Anda di Handbo.</p>
        <p>Setiap Anda mengakses dan/atau menggunakan platform ini untuk melakukan pemesanan mobil, Anda telah setuju dengan Syarat dan Perjanjian yang berlaku. Jika Anda tidak setuju dengan Syarat dan Perjanjian ini, jangan menggunakan platform ini atau melakukan pemesanan mobil melalui platform ini.</p>
        Handbo merupakan platform yang dioperasikan dan dimiliki oleh Handbo<br></br>

        <p><strong>Menggunakan Platform Handbo</strong></p>
        <p>Untuk dapat menggunakan platform Handbo, Anda harus memenuhi persyaratan-persyaratan berikut:</p>
        <p>1. Berusia minimal 18 tahun;</p>
        <p>2. Mempunyai kewenangan hukum untuk membuat kewajiban hukum yang mengikat;</p>
        <p>3. Menggunakan platform sesuai dengan Syarat Penggunaan;</p>
        <p>4. Menggunakan platform hanya untuk memesan mobil untuk diri Anda sendiri atau orang lain yang telah memberikan persetujuan legal kepada Anda;</p>
        <p>5. Menggunakan platform sesuai dengan hukum yang berlaku dan untuk tujuan yang sah</p>
        <br></br>

        <h4>Bergabung dengan Handbo</h4>
        <strong><p>1. Untuk Pengguna</p></strong>
        <p>Calon pengguna yang ingin menyewa mobil harus bergabung menjadi anggota Kami dan memberikan infomasi berikut:</p>
        <p>a. Nama asli (bukan alias atau fiktif)</p>
        <p>b. Alamat E-mail</p>
        <p>c. Kontak yang dapat dihubungi</p>
          <br>
        <strong><p>2. Untuk rental mobil berbentuk perusahaan maupun perseorangan</p></strong>
        <p>Untuk dapat mengiklankan usaha di Handbo, setiap rental mobil wajib bergabung menjadi anggota Kami dan memberikan informasi berikut:</p>
        <p>a. Nama usaha asli (bukan alias atau fiktif)</p>
        <p>b. Alamat e-mail</p>
        <p>c. Kontak yang dapat dihubungi</p>
        <p>d. Domisili usaha;</p>
        <p>Setiap anggota wajib menjaga kerahasiaan kata kunci yang digunakan untuk mengakses akun Handbo. Kami beranggapan bahwa setiap orang yang menggunakan akun Anda telah memperoleh izin Anda apabila Anda tidak memberikan pemberitahuan sebelumnya kepada Kami.</p>
        <p>Kami berhak melakukan verifikasi terhadap informasi yang Anda berikan serta membatasi penggunaan platform hingga proses verifikasi selesai.</p>
        <br>
        <strong><p>Kebijakan Perlindungan Privasi dan Penggunaan Cookies</p></strong>
        <p>Handbo sangat peduli dengan privasi Anda dan melindungi privasi tersebut dengan Kebijakan Privasi Kami. Kami mungkin menggunakan cookies dan teknologi pelacakan lainnya untuk memfasilitasi dan melacak penggunaan layanTentang kekayaan intelektualan yang disediakan platform ini. Untuk informasi lebih lanjut, silakan melihat Kebijakan Privasi Kami.</p>
        <br>
        <strong><p>Tentang kekayaan intelektual</p></strong>
        <p>Kecuali telah diatur di bagian mana pun dalam Syarat dan Perjanjian ini, semua hak atas kekayaan intelektual termasuk, tetapi tidak terbatas pada, hak cipta (termasuk hak cipta pada perangkat lunak komputer), paten, merek dagang atau nama usaha, hak rancangan, hak pangkalan data, kecakapan, rahasia perdagangan, dan hak kerahasiaan dalam Platform Handbo  (bersama-sama adalah "Hak Atas Kekayaan Intelektual") kini dimiliki oleh atau diberikan lisensinya kepada Handbo. Anda mengakui bahwa dengan menggunakan  Platform Handbo, Anda tidak akan mendapatkan hak, hak milik, atau kepentingan apa pun dalam atau untuk  Platform Handbo untuk lisensi terbatas bagi penggunaan  Platform Handbo yang diberikan kepada Anda sesuai dengan Syarat dan Perjanjian ini. Selanjutnya, Anda mengakui bahwa Anda tidak mempunyai hak untuk mempunyai akses ke aspek mana pun dari  Platform Handbo dalam bentuk source code.</p>
        <br>
        <strong><p>Tentang properti orang lain</p></strong>
        <p>Kami menghormati hak atas kekayaan intelektual orang lain. Jika Anda mempunyai alasan untuk percaya bahwa hak cipta Anda dilanggar oleh Konten apa pun pada  Platform Handbo, harap kirimkan pemberitahuan tertulis tentang pelanggaran tersebut ke alamat yang dinyatakan pada bagian awal Syarat dan Perjanjian yang ditujukan kepada Kami.</p>
        <br>
        <strong><p>Tentang aktivitas terlarang</p></strong>
        <p>Konten dan informasi yang tersedia di platform ini adalah milik Kami dan/atau Pihak Ketiga. Anda mempunyai hak untuk menggunakan  Platform Handbo untuk tujuan nonkomersial. Anda setuju untuk tidak :</p>
        <p>1. menggunakan platform ini atau Konten di dalam platform ini untuk tujuan komersial apa pun;</p>
        <p>2. menggunakan platform ini untuk tujuan apa pun yang tidak pantas dan/atau melawan hukum.</p>
        <p>3. memasang, berbagi, atau mengirimkan Konten yang :
          <p>- Mencemarkan, menghina, tidak senonoh, dan/atau tidak pantas;</p> 
          <p>- Melanggar kepercayaan atau privasiatau hak-hak pihak ketiga apa pun termasuk hak cipta, merek dagang, atau hak kekayaan intelektual lain;</p>
          <p>- Menyesatkan atau menyebabkan salah tafsir terhadap identitas Anda atau orang lain menunjukkan bahwa Anda disponsori, berafiliasi, atau berhubungan dengan Handbo </p>
        <p>4. membongkar, merekayasa balik, atau mendekompilasi perangkat lunak, aplikasi, pembaruan atau perangkat keras yang terkandung dalam atau tersedia melalui  Platform Handbo, kecuali sebagaimana diizinkan oleh hukum;</p>
        <p>5. menggunakan atau mengganggu  Platform Handbo dengan cara yang dapat merusak, melumpuhkan, membebani, melemahkan, atau mengurangi sistem atau keamanan Kami atau mengganggu pengguna lain;</p>
        <p>6. memasukkan, atau mengirimkan lewat,  Platform Handbo kode program komputer yang merusak apa pun, virus, ‘nafi layanan’ atau serangan ‘spam’, worm, kuda Trojan, kunci otorisasi, utilitas kontrol lisensi, atau kunci perangkat lunak;</p>
        <p>7. menggunakan program atau aplikasi komputer otomatis untuk memindai, menyalin, membuat indeks, semua hal yang mengeksploitasi  Platform Handbo atau bagian mana pun yang ada padanya.</p>
        <br>
        <strong><p>Tentang Pemesanan Mobil di Handbo</p></strong>
        <p>1. semua aktivitas penyewaan dilakukan melalui platform Kami;</p> 
        <p>2. pemesanan valid jika pembayaran sudah dilakukan;</p>
        <p>3. pemesanan dibatalkan secara otomatis apabila dalam waktu yang telah ditentukan sistem, yang ditampilkan pada antarmuka, Anda tidak melakukan pembayaran;</p>
        <p>4. untuk informasi selengkapnya, silakan Anda membaca Bantuan Handbo. Bantuan Handbo   merupakan bagian yang tidak terpisahkan dengan Syarat & Perjanjian ini.</p>
        <br>
        <strong><p>Tentang harga dan garansi</p></strong>
        <p>Anda menanggung sendiri risiko dari penggunaan Anda atas  Platform Handbo.</p>
        <p>Walaupun kami menerapkan kebijakan keakuratan harga pada semua mitra yang menyediakan data perjalanan kepada kami dan berusaha keras untuk memastikan bahwa konten yang ditampilkan pada atau melalui Platform Handbo sudah mutakhir dan akurat, kami tidak dapat menjamin keandalan atau keakuratan konten tersebut.  Kami menyediakan Platform Handbo secara ‘apa adanya’ dan secara tegas menafikan semua garansi, syarat dan jaminan apa pun, secara tegas atau tersirat, termasuk tetapi tidak terbatas pada, garansi yang tersirat tentang hak milik, nonpelanggaran, kemampuan diperjualbelikan dan keakuratan, serta garansi apa pun yang disiratkan dengan praktik dagang, rangkaian transaksi berulang, atau rangkaian transaksi selama penggunaan.  Sampai sejauh diizinkan oleh hukum, kami tidak menyampaikan dan tidak memberi garansi kepada Anda bahwa Platform Handbo (a) akurat, lengkap, atau mutakhir; (b) akan selalu tersedia; (c) akan memenuhi harapan Anda; atau (d) aman atau bebas dari kesalahan, kerusakan, kecacatan, virus, atau malware.</p>
        <br>
        <strong><p>Pembatasan dan pengecualian tanggung jawab</p></strong>
        <p>Syarat dan Perjanjian ini sepenuhnya mengatur tanggung jawab dan kewajiban yang terkait dengan Platform Handbo.</p>
        <p>Handbo tidak mempunyai tanggung jawab apa pun atas kesepakatan apa pun yang Anda buat dengan pihak ketiga mana pun sebagai hasil dari penggunaan Anda atas  Platform Handbo (termasuk, tanpa pembatasan, Penyedia Layanan Perjalanan mana pun). Jika Anda mengalami masalah dengan pemesanan yang sudah Anda buat atau berusaha Anda buat melalui Handbo, Anda mengakui bahwa Anda harus menyelesaikan masalah tersebut dengan Penyedia Layanan Perjalanan yang terkait dan bahwa ganti rugi Anda dalam suatu masalah, termasuk pengembalian apa pun, sepenuhnya menjadi urusan Penyedia Layanan Perjalanan yang terkait dan bukan urusan Handbo.  Jika  Platform Handbo mengandung tautan ke platform lain dan sumber yang disediakan oleh pihak ketiga, tautan ini disediakan kepada Anda hanya untuk informasi. Kami tidak mempunyai kendali atas konten dari platform atau sumber tersebut dan tidak menerima tanggung jawab untuk mereka atau untuk kerugian atau kerusakan apa pun yang mungkin muncul dari penggunaan Anda atas mereka.</p>
        <p>Anda mungkin melihat bahan iklan yang diserahkan oleh pihak ketiga pada  Platform Handbo. Masing-masing pengiklan bertanggung jawab sepenuhnya untuk konten bahan iklannya dan Handbo tidak menerima tanggung jawab untuk konten bahan iklan, termasuk, tanpa pembatasan, kesalahan, penghilangan, atau ketidakakuratan apa pun padanya.</p>
        <p>Sampai sejauh yang diizinkan oleh hukum, kami (bersama-sama dengan petugas, direktur, karyawan, perwakilan, afiliasi, penyedia, dan pihak ketiga) tidak menerima kewajiban apa pun (a) ketidakakuratan atau penghilangan apa pun dalam konten yang ditampilkan pada atau melalui Platform Handbo; atau (b) setiap kejadian yang di luar kuasa manusia, kecelakaan, penundaan atau kerugian dan kerusakan yang bersifat khusus, contoh, hukuman, tidak langsung, tidak sengaja, atau konsekuensial apa saja (termasuk, tanpa pembatasan, kehilangan keuntungan atau tabungan), dapat berdasarkan kontrak, kerugian (termasuk kelalaian), tanggung jawab mutlak atau lainnya, yang Anda tanggung yang muncul dari atau sehubungan dengan akses Anda ke, penggunaan dari, atau ketidakmampuan untuk mengakses atau menggunakan, Platform Handbo atau konten apa pun yang disediakan di situ.</p>
        <p>Tunduk kepada Syarat dan Perjanjian ini dan sampai sejauh yang diizinkan oleh undang-undang, kewajiban agregat maksimum kami kepada Anda yang muncul dari atau sehubungan dengan Syarat dan Perjanjian ini atau akses ke, penggunaan dari, atau ketidakmampuan mengakses atau menggunakan  Platform Handbo.</p>
        <p>Tidak ada di dalam Syarat dan Perjanjian ini yang membatasi atau mengecualikan (a) kewajiban kami yang terkait dengan kematian atau cedera pribadi yang disebabkan oleh kelalaian kami atau karena penipuan atau salah tafsir penipuan kami; (b) kewajiban lain apa pun yang tidak dapat dikecualikan menurut hukum; atau (c) hak hukum Anda.</p>
        <br>
        <strong><p>Kewajiban Anda kepada Kami</p></strong>
        <p>Anda wajib tunduk kepada Syarat dan Perjanjian ini. Anda akan bertanggung jawab kepada dan mempunyai kewajiban terhadap Kami atas semua tindakan, tuntutan, persidangan, biaya kerusakan, kerugian, dan pengeluaran (termasuk, tanpa pembatasan, biaya hukum) yang ditanggung oleh Kami atau grup Kami, dan setiap petugas, direktur, karyawan, dan agen Kami yang muncul dari penggunaan Anda atas Platform Handbo atau pelanggaran atas Syarat dan Perjanjian ini.</p>
        <br>
        <strong><p>Pengakhiran perjanjian</p></strong>
        <p>Kami mempunyai kuasa mutlak untuk dapat mengakhiri perjanjian apa pun dengan Anda sesuai dengan Syarat dan Perjanjian ini kapan saja setelah memberitahukan kepada Anda dan/atau jika Anda mempunyai akun masuk dengan cara membatalkan keanggotaan Anda dan akses Anda ke akun Anda. Kami juga dapat menskors penggunaan Anda atas Platform Handbo kapan saja tanpa pemberitahuan.</p>
        <br>
        <strong><p>Ulasan dan pengajuan Konten lainnya</p></strong>
        <p>Kami menyambut baik pendapat Anda tentang Platform Handbo. Mohon diperhatikan bahwa setiap Anda mengajukan Konten ke platform ini melalui e-mail dan/atau pengeposan mengenai ulasan rental mobil, pertanyaan, komentar, saran, ide, atau semacamnya yang selanjutnya Kami sebut “Konten”, Anda memberikan izin kepada Kami dan Afiliasi Handbo untuk hal-hal sebagai berikut:</p>
        <p>1. menggunakan, menggandakan, memodifikasi, mengadaptasi, menerjemahkan, mendistribusikan, mempublikasikan, membuat karya turunan dan menampilkan pengajuan Konten Anda ke seluruh dunia dalam berbagai media, baik yang dikenal sekarang atau dibuat setelahnya; dan,</p> 
        <p>2. menggunakan nama yang Anda kirimkan sehubungan dengan pengajuan Konten tersebut.</p>
        <p>Anda mengakui bahwa Handbo dapat memutuskan untuk mancantumkan atribut pada Konten yang Anda ajukan (misalnya, daftar nama dan kampung halaman pada ulasan sewa mobil yang Anda kirimkan) sesuai dengan kebijakan perusahaan Kami, dan bahwa Konten demikian dapat dibagikan kepada Pihak Ketiga.</p>
        <p>Anda lebih lanjut memberikan hak kepada Handbo untuk menuntut secara hukum setiap orang atau badan yang melanggar hak-hak Anda atau Handbo dalam Konten yang melanggar Perjanjian ini.</p>
        <p>Anda mengakui dan setuju bahwa Konten yang Anda ajukan tidak rahasia dan tidak berhak paten. Kami tidak bertanggung jawab dan tidak mempunyai kewajiban untuk setiap Konten yang Anda kirimkan. Kami tidak memiliki kewajiban untuk menampilkan komentar Anda. Kami mempunyai kebijakan mutlak untuk menentukan Konten yang dipublikasikan di platform Kami. Jika Anda tidak setuju dengan Syarat dan kondisi ini, jangan mengajukan Konten apa pun kepada Kami.</p>
        <p>Harap dicatat bahwa Kami tidak bertanggung jawab untuk meninjau Konten yang tidak Kami minta (seperti produk atau ide iklan). Kami tidak dikenakan kewajiban apa pun terhadap kesamaan antara ide-ide dan bahan yang mungkin muncul dalam program Handbo di masa depan.</p>
        <p>Anda sepenuhnya bertanggung jawab atas isi dari Konten Anda (khususnya termasuk, namun tidak terbatas pada, ulasan yang diposkan ke platform ini). Anda dilarang untuk mengirimkan ke atau dari platform ini hal-hal yang;</p>
        <p>1. melanggar hukum, mengancam, memfitnah, cabul, atau materi lain atau konten yang akan melanggar hak-hak publik dan/atau pribadi atau yang akan melanggar hukum;</p> 
        <p>2. merupakan material komersial atau Konten (termasuk, namun tidak terbatas pada, permohonan dana, iklan, atau pemasaran baik barang atau jasa); dan </p>
        <p>3. merupakan materi atau konten yang melanggar, tidak sesuai atau melanggar hak cipta, merek dagang, hak paten atau hak milik lainnya dari pihak ketiga. </p>
        <p>Anda harus bertanggung jawab atas segala kerugian yang diakibatkan dari pelanggaran batasan-batasan tersebut di atas, atau bahaya lain yang dihasilkan dari Konten yang Anda kirimkan ke platform ini.</p>
        <p>Anda mengakui bahwa Handbo dapat melaksanakan haknya (misalnya menggunakan, mempublikasikan atau menghapus) setiap Konten yang Anda kirimkan tanpa pemberitahuan kepada Anda terlebih dahulu.</p>
        <p>Kebijakan Handbo sehubungan dengan klaim oleh pihak ketiga bahwa isi platform, termasuk isi Konten Pengguna, melanggar hak cipta yang dimiliki Pihak Ketiga dapat ditemukan dalam bagian “Tentang properti orang lain” dari Syarat dan Perjanjian ini.</p>
        <br>
        <strong><p>Ganti Rugi</p></strong>
        <p>Anda setuju untuk membela dan mengganti kerugian Handbo, Afiliasi Handbo dan/atau Pihak Ketiga terhadap klaim, penyebab tindakan, tuntutan, pemulihan, kerugian, kerusakan, denda, hukuman atau biaya lain atau biaya apa pun yang bersifat alami, termasuk tetapi tidak terbatas pada, kewajaran hukum dan biaya akuntasi, yang diajukan oleh pihak ketiga sebagai akibat dari;</p>
        <p>1. pelanggaran Anda terhadap Syarat dan Perjanjian ini atau dokumen yang dirujuk di sini;</p>
        <p>2. pelanggaran hukum atau hak-hak pihak ketiga; </p>
        <p>3. penggunaan platform ini; atau </p>
        <p>4. penggunaan platform ini untuk, atau atas nama, Pihak Ketiga. </p>
        <br>
        <strong><p>Tautan ke situs pihak ketiga</p></strong>
        <p>Platform ini mungkin berisi tautan ke platform lain yang dioperasikan oleh pihak selain Handbo. Tautan demikian disediakan hanya sebagai referensi Anda. Kami tidak mempunyai kontrol atas situs tersebut dan tidak bertanggung jawab atas Konten atau privasi atau aktivitas situs tersebut.</p>
        <p>Kami menyarankan Anda untuk berhati-hati ketika mengklik tautan dan/atau mengunduh perangkat lunak (baik dari platform ini maupun dari platform lain). Pastikan tautan dan perangkat lunak yang ingin Anda unduh bebas dari virus, worm, trojan, dan hal-hal yang bersifat merusak. Penyertaan tautan ke situs-situs pihak ketiga tidak menyiratkan dukungan materi untuk situs tersebut atau asosiasi dengan operator platform tersebut.</p>
        <br>
        <strong><p>Peraturan perusahaan rental mobil dan restriksi</p></strong>
        <p>Silakan baca Syarat dan Perjanjian tambahan dengan hati-hati. Anda setuju untuk mematuhi Syarat dan Perjanjian yang dikenakan oleh setiap Pihak Ketiga. Anda mengakui bahwa beberapa Pihak Ketiga yang menawarkan sewa mobil dan/atau produk atau layanan mungkin mengharuskan Anda untuk mematuhi kebijakan lokal sebagai prasyarat untuk menggunakan dan/atau berpartisipasi dalam layanan dan/atau kegiatan yang mereka tawarkan.</p>
        <p>Anda memahami bahwa setiap pelanggaran aturan dan restriksi Pihak Ketiga seperti ini dapat mengakibatkan pembatalan pemesanan Anda, penolakan akses ke mobil sewa dan/atau produk atau layanan lainnya kepada Anda, dan kehilangan uang yang telah dibayarkan untuk pemesanan, dan/atau penagihan Kami kepada Anda atas biaya apa pun yang Kami kenakan sebagai akibat dari pelanggaran tersebut.</p>
        <br>
        <strong><p>Penyelesaian sengketa</p></strong>
        <p>Sengketa, perselisihan, atau gugatan yang timbul dari atau berhubungan dengan Syarat dan Perjanjian ini, diselesaikan terlebih dahulu dengan cara non-litigasi dengan memilih salah satu di antara empat proses penyelesaian sengketa non-litigasi; arbitrase, negosiasi, mediasi, atau konsiliasi. Jika penyelesaian sengketa secara non-litigasi tidak menemui kesepakatan antara pihak-pihak yang bersengketa, sengketa akan diselesaikan dengan cara litigasi, membawa sengketa tersebut ke Pengadilan, sebagai langkah terakhir yang ditempuh.</p>
        <br>
        <strong><p>Ketentuan Umum</p></strong>
        <p>Syarat dan Perjanjian ini, bersama-sama dengan Kebijakan Privasi, merupakan keseluruhan perjanjian antara Anda dengan Handbo. Jika ada ketentuan dalam Syarat dan Perjanjian ini yang ditemukan tidak sah, ilegal, atau tidak dapat diterapkan, validitas, legalitas, dan keberlakuan ketentuan lainnya tidak akan dengan cara apa pun terpengaruh atau terganggu.</p>
        <br>
        <strong><p>Lain-lain</p></strong>
        <p>Keterangan dalam Syarat dan Perjanjian ini hanya untuk kenyamanan Anda dan tidak, dengan cara apa pun, membatasi atau menentukan persyaratan dan ketentuan dari Syarat dan Perjanjian ini.</p>

        </div>

  </div>
</div>




<footer>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="isifooter1">
            <a style="color: #fff; text-decoration: " href="https://blog.handbo.id/" target="_blank">Blog</a>
          </div>
          <div class="isifooter2">
            <a><%= link_to "Jadi Partner Kami", partnerdengankami_path, {style: "color: white"} %></a>
          </div>
          <div class="isifooter3">
            <a><%= link_to "Syarat dan Ketentuan", syaratdanketentuan_path, {style: "color: white"} %></a>
            </div>
        </div>

          <div class="col-sm-4 col-xs-4">
              <div class="isifooter">
                <p>Follow Us</p>
           
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/twitter.png",size:"15x15"),"https://twitter.com/handboindonesia", target:"_blank" %>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/facebook1.png",size:"15x15"),"https://www.facebook.com/handboindonesia", target:"_blank"%>
           <%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/insta.png",size:"15x15"),"https://www.instagram.com/handbo", target:"_blank" %>
            </div></div>
          <div class="col-sm-4 col-xs-4">
            <div class="isifooter">
              <a><%= link_to "Butuh Mobil Secepatnya ?",new_request_path, {style: "color: white"} %></a>
           </div></div>

          
        <div class="clear"></div>
        <hr>
        <div class="copyright"><p>Made with ♥ from Bekasi 2017</p></div>
      </div>
    </div>  

</footer>            <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8782091;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

<%= javascript_include_tag "responsiveslides.min"%>
 <!-- Slider-starts-Here -->
         <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 1500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });
        
            });
          </script>
      <!--//End-slider-script -->

