<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-left">
      <%= link_to '',root_path,class:"glyphicon glyphicon-home btn-lg" %>
    </ul>
  </div>
</nav>


 <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <center><h4 class="text-center">Request Mobil</h4></center>

              </div>
            </div>
            <hr>
          </div>

           <div class="form-group text-center">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= f.label :nama %><br />

                  <%= f.text_field :nama %>
              </div>
            </div>
          </div>

         
          <div class="form-group text-center">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= f.label :Nomor_Handphone  %><br />
                  <%= f.text_field :tujuan %>
              </div>
            </div>
          </div>
          <div class="form-group text-center">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= f.label :Tujuan %><br />
                  <%= f.text_field :keterangan %>
              </div>
            </div>
          </div>
          
          
          
          <div class="form-group text-center">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <%= f.submit "Submit",id:"login-submit",data: {disable_with: "Please wait..."},class:"form-control btn btn-primary",name:"btnlogin" %></p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <% end %> 
