<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-left">
      <%= link_to '',root_path,class:"glyphicon glyphicon-home btn-lg" %>
    </ul>
  </div>
</nav>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Terima Kasih !! <%= notice %></strong> 
</div>

	<%= link_to "Back To Home",root_path,class:"btn btn-danger text-center" %>