<% provide(:title, 'Find a ride to rent') %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= image_tag("logo.jpg",size:"100x50") %>

    </div>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Daftar ",register_path,class:"btnRegister" %>
        <%= link_to "Masuk",login_path,class:"btnLogin" %>
     </ul>
  </div>
</nav>

<div class="page-header text-center">
  <h3>Semua berawal dari berbagi</h3>
    <%= form_tag lihat_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search],placeholder:"Cari Sewa",class:"text-center" %>
      <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
    </p>
  <% end %>
</div>

    <!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>How it Works </h2>
  <br>
  <div class="row">
    <div class="col-sm-4 col-xs-4">
      <span class="glyphicon glyphicon-search logo-small"></span>
      <h4>Memilih kebutuhan</h4>
    </div>
    <div class="col-sm-4 col-xs-4">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <h4>Memesan kebutuhan </h4>
    </div>
    <div class="col-sm-4 col-xs-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <h4>It's works !! </h4>
    </div>
  </div>
  <br><br>
</div>






<div class="container-fluid text-center">
<h2 class="text-center"> Produk Sewa Terbaru</h2> 
    <div class="row">        
            <% @products.each do |product| %>
            <div class="col-sm-6 col-md-3">
            <div class="kotakproduct">
            <div class="tcb-product-photo"><%= link_to (image_tag product.image(:medium)),new_product_sewa_path(product) %></div>
            <br>
            <div class="tcb-product-title">
            <h5><%= link_to product.item,new_product_sewa_path(product) %></h5></div>
            <div class="panel2">
               
              <p>Kota:&nbsp;&nbsp;</b><%= product.stadt %></p>
              <p>No HP:&nbsp;&nbsp;</b><%= product.subitem %></p>
              <h6>Harga/hari:&nbsp;&nbsp;</b><%= number_to_currency_br(product.price) %></h6>  
          </div>
          </div>
          </div>
          <% end %>

    </div>  
    </div> 
    </div>



    <h2 class="text-center">What our customers are saying</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Sangat membantu untuk menyewakan baju saya yang banyak"<br><span>Susi, Ibu Rumah Tangga</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>Agus Widayanto, Pegawai, Bank Mandiri</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Manager, Agen Apartment</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br><br>


<hr>
    

<footer class="footer">
      <div class="container">
        <div class="text-muted">
          <a href="http://blog.handbo.id/" target="_blank">Blog</a>
        </div>
      </div>
    </footer>


<%= render 'layouts/footer' %>