<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <%= link_to "Create Sewa ",createitem_path,class:"btnRegister" %>
      <%= link_to "Logout",logout_path,class:"btnLogin" %>
    </ul>
  </div>
</nav>

	
<div class="page-header text-center">
  <h3>Dapatkan Gratis Sewa Disini</h3>
    <%= form_tag lihat_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query],placeholder:"Cari Sewa",class:"text-center" %>
      <%= submit_tag "Search", name: nil,class:"btn btn-primary" %>
    </p>
  <% end %>
</div>



  


    
    <!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>How it Works </h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-search logo-small"></span>
      <p>Memilih kebutuhan</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <p>Memesan kebutuhan </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <p>It's works !! </p>
    </div>
  </div>
  <br><br>
</div>

<%= render 'layouts/footer' %>


</body>
</html>
      