
 <% if current_user %>
  <% provide(:title,'Sewa') %>
 <% else %>
  <% provide(:title,'Login') %>
  <% end %>
<% if current_user %>
 <nav class="navbar navbar-default">
  <div class="container-fluid"> 
    <ul class="nav navbar-nav navbar-left">
      <%= link_to '',products_home_path,class:"glyphicon glyphicon-home btn-lg" %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= link_to "Create Product ",createitem_path,class:"btnRegister" %>
      <%= link_to "logout",logout_path,class:"btnLogin" %>

    </ul>
 </div>
</nav>




<%= form_for Sewa.new , html: { multipart: true } do |f| %>



  <div class="panel panel-login">
    <div class="panel-heading">
      <div class="col-md-6 col-md-offset-3">
        <center><h4>Sewa</h4></center><br>
      </div>
    <div class="form-inputs">
      <div class="form-group has-success has-feedback">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= f.label :'Dari Tanggal' %><br>
          <%= f.text_field :tglawalsewa,  id:"startDate", placeholder:"DD/MM/YYYY" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-inputs">
      <div class="form-group has-success has-feedback">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= f.label :'Sampai Tanggal' %><br>
          <%= f.text_field :tglakhirsewa, id:"endDate" , placeholder:"DD/MM/YYYY" %>
          </div>
        </div>
      </div>
    </div>
        <div class="form-inputs">
      <div class="form-group has-success has-feedback">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= f.label :'Email' %><br>
          <%= f.text_field :email, id:"emailSewa", type:"email", placeholder:"example@handbo.de"%>
          </div>
        </div>
      </div>
    </div>
        <div class="form-inputs">
      <div class="form-group has-success has-feedback">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <%= f.label :'Nomor HP' %><br>
          <%= f.text_field :nomorhp, id:"nomorSewa", placeholder:"0814xxxxxxxx" %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
    <%= f.submit "Sewa", data: {confirm: "Pesanan Akan Di Proses?"} %>
    </div>
</div>
</div>
</div>
<% end %>
<% else %>
   <%= render 'sessions/new' %>
<% end %>

<script>
    $(function () {
        $('#startDate').datetimepicker({
          format : 'DD/MM/YYYY'
        });
        $('#endDate').datetimepicker({
          format : 'DD/MM/YYYY',
          useCurrent: false //Important! See issue #1075

        });
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function (e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
    });



</script>
  <%= render 'layouts/footer' %>
