<p id="notice"><%= notice %></p>

<div class="container-fluid"> 
    <ul class="nav navbar-nav navbar-left">
      <%= link_to '',products_home_path,class:"glyphicon glyphicon-home btn-lg" %>
    </ul>
   
    <ul class="nav navbar-nav navbar-right">
      <%= link_to "Create Product ",createitem_path,class:"btnRegister" %>
      <%= link_to 'My product',myproduct_path,class:"btnRegister" %>
      <%= link_to 'History',product_sewa_path(users_url),class:"btnRegister" %>
      
      <%= link_to "logout",logout_path,class:"btnLogin" %>

    </ul>
 </div>
<h1>Listing Sewas</h1>

<table>
  <thead>
    <tr>
      <th>Tglawalsewa</th>
      <th>Tglakhirsewa</th>
      <th>Email</th>
      <th>Nomor HP</th>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sewas.each do |sewa| %>
      <tr>
        <td><%= sewa.tglawalsewa %></td>
        <td><%= sewa.tglakhirsewa %></td>
        <td><%= sewa.email %></td>
        <td><%= sewa.nomorhp %></td>
        <td><%= sewa.user %></td>
        <td><%= sewa.product %></td>

        <td><%= link_to 'Show', sewa %></td>
        <td><%= link_to 'Edit', edit_sewa_path(sewa) %></td>
        <td><%= link_to 'Destroy', sewa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sewa', new_sewa_path %>
