<p id="notice"><%= notice %></p>

<p>
  <strong>Tglawalsewa:</strong>
  <%= @sewa.tglawalsewa %>
</p>

<p>
  <strong>Tglakhirsewa:</strong>
  <%= @sewa.tglakhirsewa %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sewa.email %>
</p>

<p>
  <strong>Nomor HP:</strong>
  <%= @sewa.nomorhp %>
</p>
<p>
  <strong>User:</strong>
  <%= @sewa.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sewa.product %>
</p>

<%= link_to 'Edit', edit_sewa_path(@sewa) %> |
<%= link_to 'Back', sewas_path %>
