<h4><%= @post.title %></h4>

<h4><%= @post.text %></h4>




<p>
<%= link_to "Back",post_path %>
|
<%= link_to "Edit",edit_post_path(@post) %>
|
<%= link_to "Delete",@post, :method => :delete, :confirm => "Are you sure" %>
</p>