// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1
{
  font-family: 'Roboto Slab', serif;
  font-size:50px;
  font-weight:400;
  color:black;
}

