// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CSS Document */
body {
  background-color:#FFF !important;
  font-family:'Roboto Slab', serif;

}
.container {
  margin: 0px auto;
}

/*--------------------START NAVBAR-----------------------*/

.navbar-default {
  background-color:#000!important;
  border-bottom: 3px solid #FFF !important;
  font-family:Verdana, Geneva, sans-serif;
  padding:0px 10px;
}
.navbar-default .navbar-brand {
  color: #fff !important;
  padding:10px;
  font:Arial, Helvetica, sans-serif;
  font-size:2em;
}
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}
  
.navbar-default .navbar-nav > li > a {
  color: #fff!important;
  font-size:14px;
  
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none!important;
  text-decoration: underline;
}
a.navbar-brand span {
  color: #2FD828;
}
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color:#000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color:#FFF !important;
}

.nav-itemButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.button-smaller {
    color:#fff;
    height: 27px;
    line-height: 25px;
    font-size: 16px;
    padding: 0 10px;
    background-color:#000;
    border: 1px solid;
    border-color: #fff;
}

.button-smaller:hover {
  background-color:grey;
  color:#fff;

}

/*--------------------END NAVBAR-----------------------*/


/*-------------------------------------START JQUERY RANGE SLIDER-----------------*/

 input[type=range]{
    overflow: hidden;
    border: 1px solid #fff;
    outline:none; 
    width: 100%;
    -webkit-appearance: none;
    min-height:15px;

}

input[type="range"]::-moz-range-progress {
    background-color: #f4511e;
    width: 100%;
    height: 10px;
    border: none;
    border-radius: 3px; 
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #fff;
    height: 20px;
    width: 20px;
    border-radius: 10%;
    background: #f4511e;
    cursor:pointer;
}

input[type="range"]::-ms-fill-lower {
  background-color: #f4511e; 
}
input[type="range"]::-ms-fill-upper {  
  background-color: #ccc;

}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: none;
    outline-offset: -1px;
}

.slider-uang output::before {
    content: "Rp.";
}

output {
    display: block;
    padding-top: 20px;
    font-size: 24px;
    position: center;
    line-height: 1.428571429;
    color: #f4511e;
}


input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    background: #ccc;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background:  #808080;
    margin-top: -5px;
    -webkit-box-shadow: -200px 0 0 200px #ff0000;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 72px;
    line-height: 1.428571429;
    color: #f4511e;
}


/*--------------------------------------END JQUERY RANGE SLIDER-----------------*/


/*------------------ Slider Part starts Here----------*/


.callbacks_container {
  position: relative;
  width: 100%;
  margin: 0 auto 0;
  background:rgba(255, 255, 255, 0.88);
  border-radius: 10px;
}

.rslides {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width:100%;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  left: 0%;
  top: 0;
  width: 100%;
}
.rslides img {
  width:100%;
  height: auto;
  border: 0;
}
.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 70%;
  z-index: 999;
  left: 10%;
  padding: 0;
  margin: 0;
}

ul.social-slide li i{
  width:70px;
  height:74px;
  display: inline-block;
  margin:0px 15px;
}
ul.social-slide li i.win{
  background-position:-6px 0px;
}
ul.social-slide li i.android{
  background-position:-110px 0px;
}
ul.social-slide li i.mac{
  background-position:-215px 0px;
}
.callbacks_tabs li{
  display: inline-block;
  margin: 0 .1em;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:15px;
  width:15px;
  display:inline-block;
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px solid rgba(85, 85, 85, 0.43);
}
.callbacks_here a:after{
  background:#d33823 ;
}


.banner{
  position:relative;
}
.banner-info{
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
    min-height:700px;
    max-width:100%;
}
.banner-info1{
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:700px;
}
.banner-info2{
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  -ms-background-size:cover;
  min-height:700px;
}

.banner-inf {
  position: absolute;
  text-align: center;
  left: 23%;
  line-height: 1;
  top: 32%;
  margin-top: -100px;
}

.banner-inf h1{
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
.banner-inf p{
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}
.banner-inf input#search{
  height: 35px;
  width:70%;
  text-transform: uppercase;
  border:0;
  background-color:#f5f5f5;
  transition:all .5s ease 0s;
  -webkit-transition:all .5s ease 0s;
  -moz-transition:all .5s ease 0s;
  -o-transition:all .5s ease 0s;
  -ms-transition:all .5s ease 0s;
}
.banner-inf submit{
  background: #2a2a2a;
}


/*------------------END SLIDER-------------------*/



/*-----------------START HOW IT WORKS-----------*/

.logo-small {
      color: #f4511e;
      font-size: 30px;
  }

.small p {
    margin-left: 20px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    font-size:18px;
  }

/*--------------END HOW IT WORKS---------------*/



/*--------------START LOKASI------------------*/

.kotakmedia {

  min-height:300px;
  width:100%;
  margin:0px;
  background: url('/assets/dashboard.jpg');
  background-position:center center;
  background-size:cover;
}


.kotakmedia img {
  box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;

}

.kotakmedia-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left:60px;
  padding: 0 60px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-info h1 {
  color:#fff;
  text-align:left;
  font-size: 24px;
  font-weight: bold;

}

.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 30%;
  top: 80%;
  left: 65%;
}
.btn-media {
    background-color: #428bca;
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    width: 280px;
    height:40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-media:hover {
  background-color:#327699;
  color:#fff;

} 

.kotakkota {
  min-height:235px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 235px;
  width:100%;
}
.kota-photo img {
  box-sizing: inherit;
  height: 100%;
  display: inline-block;
  width: 100%;
  position:centre;
}
.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 20Px;
  font-weight: bolder;
  padding: 5px;


}

.col-xs-6.col-md-4.col-lg-4.px-0 {

  padding: 0 !important;
  
}
.col-xs-12 {
  padding: 0 !important;
}

/*-------------------END LOKASI-------------------*/



/*-------------------START FOOTER-----------------*/

footer{
  color: #fff;
  width:100%;
  bottom:0; 
  background:#000;
  margin-bottom:0px; 
  }

.isifooter {
  padding-top:10px;
  margin-top:15px;
}

.isifooter1 {
  padding-top:10px;
  margin-top:15px;
  margin-right: 130px;
}

.isifooter2 {
  padding-top:10px;
  margin-right: 35px;
}

.isifooter3 {
  padding-top:10px;
  margin-right: 10px;
}
.isifooter h2{
  color:#FFF;
  padding:10px;
  margin-top:0px;
  font-size:18px;
}
.clear {
  clear:both
}

.copyright{
  color: #fff;
  width:100%;
  bottom:0; 
  background:#000;
}

.copyright p{
  text-align: center;
  font-size: 13px; 
}

/*-------------------END FOOTER-------------------*/



/*----------------START RESPONSIVE DESIGN------------*/

@media (max-width:1280px){
  .banner-info,.banner-info1,.banner-info2{
    min-height:600px;
  }

.banner-inf h1 {
    font-size: 2.9em;
  }
  .banner-inf p {
    font-size: 0.9em;
  }
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;

  }
  .callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 0;
  margin: 0;
}
.kotakmedia-info {
  bottom: 0;
  left: 0%;
  right:0;
  margin:0;
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0%;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:200px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 200px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}

h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}

}

@media (max-width:767px){
  .header {
    padding: 1em 0;
  }
  .glyphicon-cutlery {
    left: -12px;
    top: 3px;
  }
  .navbar-default .navbar-brand {
    font-size: 2.5em;
    padding: 0.1em 0 1em 1em;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d33823;
  }
  .navbar-default .navbar-toggle .icon-bar{
    background:#fff;
  }
  .navbar-toggle {
    margin-top: 13px;
  }

  #total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 50px;
    line-height: 1.428571429;
    color: #f4511e;
}

  .navbar-nav {
    float: none;
    text-align: center;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #012231;
  }
.banner-inf h1 {
    font-size: 2.9em;
  }
  .banner-inf p {
    font-size: 0.9em;
  }
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;

  }
  .callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 0;
  margin: 0;
}

.isifooter1 {
  padding-top:10px;
  margin-top:15px;
  margin-right: 0px;
}

.isifooter2 {
  padding-top:10px;
  margin-right: 0px;
}

.isifooter3 {
  padding-top:10px;
  margin-right:0px;
}
.kotakmedia-info {
  bottom: 0;
  left: 0%;
  right:0;
  margin:0;
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0%;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:210px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 210px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}

h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}

}
@media (max-width:640px){
  
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 460px;
  }
  
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }

  #total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 42x;
    line-height: 1.428571429;
    color: #f4511e;
}


  .banner-inf h1 {
    font-size: 2.9em;
  }
  .banner-inf p {
    font-size: 0.9em;
  }
  .banner-inf {
    top: 25%;
    left: 7%;
    width: 85%;

  }
  .callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 0;
  margin: 0;
}

.isifooter1 {
  padding-top:10px;
  margin-top:15px;
  margin-right: 0px;
}

.isifooter2 {
  padding-top:10px;
  margin-right: 0px;
}

.isifooter3 {
  padding-top:10px;
  margin-right:0px;
}
.kotakmedia-info {
  bottom: 0;
  left: 0%;
  right:0;
  margin:0;
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0%;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:200px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 200px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}

h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}
 }

@media (max-width:480px){

  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.7em;
  }
  
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 300px;
  }
  
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }

  .banner-inf h1 {
    font-size: 2.5em;
  }
  .banner-inf p {
    font-size: 0.9em;
  }
  .banner-inf {
    top: 45%;
    left: 7%;
    width: 85%;

  }
  .callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 70%;
  left: 0%;
  padding: 0;
  margin: 0;
}


#total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 36px;
    line-height: 1.428571429;
    color: #f4511e;
}

.kotakmedia-info {
  bottom: 0;
  left: 0%;
  right:0;
  margin:0;
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0%;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:160px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 160px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}

h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}
 }

@media (max-width: 414px){
  .banner-inf h1 {
    font-size: 1.8em;
  }
  .banner-inf p {
    font-size: 1.0em;
  }
  .banner-inf {
    left: 7%;
    top:38%;
    width: 85%;
  }

  #total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
}

.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 55%;
  left: 0%;
  padding: 0;
  margin: 0;
}

.isifooter1 {
  padding-top:10px;
  margin-top:15px;
  margin-right: 0px;
}

.isifooter2 {
  padding-top:10px;
  margin-right: 0px;
  margin-left: 10px;
}

.isifooter3 {
  padding-top:10px;
  margin-right:0px;
}

.kotakmedia-info {
  bottom: 0;
  left: 0%;
  right:0;
  margin:0;
  padding: 0 10px 0 20px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:120px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 120px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}

h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}

}
@media (max-width:320px){
  .navbar-default .navbar-brand {
    font-size: 2em;
  }
  .header {
    padding: .5em 0;
  }
  .navbar-default .navbar-brand {
    padding: 0.1em 0 1em 0.4em;
  }
  .navbar-toggle {
    margin: 9px 0 0;
  }

  #total::before {

    content: "Rp.";
}


#total {
    display: block;
    padding-top: 20px;
    font-size: 34px;
    line-height: 1.428571429;
    color: #f4511e;
}

  
  .banner-info, .banner-info1, .banner-info2 {
    min-height: 195px;
  }
banner-inf h1 {
    font-size: 1.4em;
  }
  .banner-inf p {
    font-size: 0.9em;
  }
  .banner-inf {
    top: 52%;
    left: 7%;
    width: 85%;

  }

  .isifooter1 {
  padding-top:10px;
  margin-top:15px;
  margin-right: 0px;
}

.isifooter2 {
  padding-top:10px;
  margin-right: 0px;
  margin-left: 5px;
}

.isifooter3 {
  padding-top:10px;
  margin-right:0px;
}

.callbacks_tabs{
  list-style: none;
  position: absolute;
  top: 75%;
  left: 0%;
  padding: 0;
  margin: 0;
}

.kotakmedia-info {
  bottom: 0;
  left: 0;
  right:0;
  margin:0;
  padding: 0 10px 0 40px;
  position: absolute;
  width: 100%;
  top: 7%;
}

.kotakmedia-btn {
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  top: 80%;
}
.kotakkota {
  min-height:120px;
  width:100%;
  margin:0px;

}
.kota-photo {
  text-align: center;
  box-sizing: inherit;
  height: 120px;
  width:100%;
}

.kota-info {
  bottom: 0;
  left: 0;
  margin-bottom: 5px;
  padding: 0 60px 0 15px;
  position: absolute;
  width: 100%;
}

.kota-info h1 {
  color:#fff;
  text-align: left;
  font-size: 16Px;
  font-weight: bolder;
  padding: 0px;
}
h2 {
  
  font-size:20px;

}
.small p{
  
  font-size:16px;
}
}



/*----------------END RESPONSIVE DESIGN------------*/


.atas {
  padding-top: 50px;
}
.btnhome
{
  background-color: black;
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

.searchhome
{
  font-size: 24px;
  color: #000000;
  margin-right: 30px;
  margin-top: 5px;
}

.btnLogin 
{
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
  margin-bottom: 20px;

  font-family: "Times New Roman",Times,serif;
}

.btn-login {
 background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6; 
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}



.logo {
      color: #f4511e;
      font-size: 200px;
  }
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btnRegister 
{
  font-size: 18px;
  color: #282228;
  margin-right: 20px;
   margin-top :10px;
   margin-left :10px;
  font-family: "Times New Roman",Times,serif; 
}
.btnSewa
{
 margin-right: 40px;
 font-family: "Times New Roman",Times,serif;
 font-size: 18px;
  
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
#hero1{
 background:url(https://sojo.net/sites/default/files/blog/simplicity.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:600px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
}
.btn-loreg{
  margin:10px;
  font-family: 'Roboto Slab', serif;
  font-weight:300;
  font-size:18px;
  padding:0px 20px
}

  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
  
  .logintext
  {
    margin-left:800px;
    margin-top: 50px;
  }
  