//slider.
#content-wrapper {
  position:relative;
  display:inline;
}

.containerproduct {
  padding:20px;
  width:100%;

}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

h5 {
  
  font-size: 24px;
} 

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:85%;
  padding:15px;

  .item img {
    width: 100%;
    height: 360px;
  }
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel1 {
  width:48%;
  min-height:260px;
  margin: 10px 10px 20px 0px;
  padding-top:10px;
  border: 1px solid #E8E8E8;
  float: left;
}


.tcb-product-photo {
  text-align: center;
  height: 190px;
  background:fff;
  max-width:100%;

}
.tcb-product-photo img {
  max-height: 100%;
  display: inline-block;
  max-width: 100%;
  position:centre;
}
.tcb-product-info {
  background: #f0f0f0;
  padding: 15px;
}

/*----------------START RESPONSIVE DESIGN------------*/

@media (max-width:1280px){


.panel1 {
    width: 48%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    float: none;
    
  }

  .tcb-product-photo {
  text-align: center;
  height: 100%;
  background:fff;
  width:100%;

}
.tcb-product-photo img {
  height: 100%;
  display: inline-block;
  width: 100%;
  position:centre;
}

h5 {
  
  font-size:20px;

}

.carousel {
  max-height: 600px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 560px;
  }
}

.col-xs-6 {
width: 95%;
}

}

@media (max-width:767px){

.panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    float: none;
    
  }


h5 {
  
  font-size:20px;

}


.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 460px;
  }
}

.col-xs-6 {
width: 90%;
}

}


@media (max-width:640px){
  

.panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    float: none;
    
  }
h5 {
  
  font-size:20px;

}
.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 350px;
  }
}
.col-xs-6 {
width: 90%;
}

 }

@media (max-width:480px){

.panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    float: none;
    
  }


h5 {
  
  font-size:20px;

}

.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 280px;
  }
}

.col-xs-6 {
width: 85%;
}

 }

@media (max-width: 412px){

.panel1 {
    width: 90%;
    min-height: 260px;
    margin: 10px 10px 20px 0px;
    padding: 20px;
    border: 1px solid #E8E8E8;
    float: none;
  }
 
h5 {
  
  font-size:16px;

}

.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 180px;
  }
}

.col-xs-6 {
width: 85%;
}


}

@media (max-width:320px){

.panel1 {
  width:90%;
  min-height:300px;
  margin: 10px 10px 30px 16px;
  padding-top:10px;
  border: 1px solid #E8E8E8;
  float: none;
}

h5 {
  
  font-size:12px;

}

.carousel {
  max-height: 500px;
  overflow: hidden;
  margin:0 auto;
  width:100%;

  .item img {
    width: 100%;
    height: 180px;
  }
}

.col-xs-6 {
width: 85%;
}

}

/*----------------END RESPONSIVE DESIGN------------*/




h4 {
  
  font-size: 16px;
}

h3 {
  
  font-size:20px;
}

.sideleft {
  margin-left: 1cm;
}
.sideleft1{
  margin-left:-2cm;
}

.labelpreview {
  width :80px;
  font-size :18px;
  display: inline-block;
}

.kotaksewa {
  min-height:400px;
  border: 1px solid #E8E8E8;
  width:auto;
  margin:20px 150px 0px 150px;
  padding: 10px;

}
.labelproduct {
  float: left;
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
  
}

.thumbnail img {
  
  height:10px;
}

.kotakproduct {
  min-height:300px;
  border: 1px solid #E8E8E8;
  width:auto;
  margin:0px;
  padding: 5px;
  margin-bottom:15px;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
