<% provide(:title, 'Create Sewa') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>

 <%= stylesheet_link_tag "products" %>
 <%= javascript_include_tag "tanggal"%>

<%= form_for Product.new , html: { multipart: true } do |f| %>
<div class="col-md-6 col-md-offset-3">
    <center><% if @product.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>   
        <% for message in @product.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %></center>
  </div>
  <br>
<div class="containerproduct">
 
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Langkah Pertama</h3>
      <hr>
       <form>
  <div class="form-group">
    <div class="row">
      <div class='col-sm-3 col-xs-6 sideleft'>
        <%= f.label :"Tahun Mobil" %><br>
        <%= f.select :klasifikasikategory, options_for_select([
                      ["",""],"1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017"]),
                      {}, class:'form-control' %>
      </div>
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Merk Mobil" %>
        <%= f.select :item, options_for_select([
          ["",""],
          "Toyota","Honda","Suzuki","Daihatsu","Mistsubishi","Isuzu","Nissan","Kia","Datsun","BMW","Chevrolet","Mercedes Benz","Bis","Audi","Proton","Mini"]),
          {}, class:'form-control' %>
      </div>

      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Model Mobil" %>
        <%= f.select :tipe, options_for_select([
          ["",""],
          "TOYOTA","--------------------------------","Avanza","Calya","Camry","Innova","Vios","Alphard","Etios Valco","Land Cruiser","Rush","Fortuner","Agya","Yaris","Hiace","Corolla Altis","","HONDA","--------------------------------","Jazz","Brio","City","CRV","Accord","Civic","Freed","Odyssey","Mobilio","HRV","","SUZUKI","--------------------------------","Ertiga","Karimun","Swift","Splash","SX4","","DAIHATSU","--------------------------------","Xenia","Ayla","Terios","Sirion","Grand Max","Luxio","Sigra","","Mistsubishi","--------------------------------","Pajero Sport","Outlander Sport","Mirage","COLT Diesel","","ISUZU","--------------------------------","ELF","Panther","MU-X","","NISSAN","--------------------------------","Grand Livina","Evalia","Juke","Serena","March","X-Trail","Elgrand","Teana","","KIA","--------------------------------","Picanto","Visto","Pregio","Rio","Carens","Travello","Sorento","Sportage","","DATSUN","--------------------------------","GO Panca","GO+","","BMW","--------------------------------","Serie 1","Serie 2","Serie 3","Serie 4","Serie 5","Serie 6","Serie 7","Serie GT","Serie X","Serie Z","Serie M","","Chevrolet","--------------------------------","Aveo","Orlando","Spin","Captiva MY13","Captiva MY14","","Mercedes Benz","--------------------------------","Class A","Class B","Class C","Class E","Class S","Class M","Class GLA","Class CLA","Class SL","Class SLK","","BIS","--------------------------------","Seat 25","Seat 31","Seat 33","Seat 36","Seat 40","Seat 43","Seat 44","Seat 47","Seat 54","Seat 59","","AUDI","--------------------------------","A4","A5","A6","A7","A8","Q3","Q5","Q7","","PROTON","--------------------------------","Exora","Gen 2","Pesona","Suprima","Neo R3","","MINI","--------------------------------","Cooper","Mini Classics","Cabrio","Paceman","Countryman","Coupe","Clubman",]),{}, class:'form-control' %>
      </div>      
    </div>
   </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Plat Nomor Mobil" %>
        <%= f.text_field :platnomor,class:'form-control' %>
      </div>
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Kota" %>
        <%= f.select :stadt, options_for_select([
          ["",""],
          "Balikpapan","Bandar Lampung","Banyuwangi","Banjarmasin","Batam","Bandung","Bekasi","Bengkulu","Bogor","Cirebon","Cilegon","Depok","Jakarta","Jepara","Kupang","Kediri","Makassar","Mataram","Malang","Magelang","Manado","Medan","Padang","Pekanbaru","Pekalongan","Pontianak","Samarinda","Semarang","Serang","Sukabumi","Surabaya","Tangerang","Yogyakarta","Lombok","Bali"]),{}, class:"form-control" %>
      </div>
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Nomor HP" %>
       <%= f.text_field :subitem,class:"form-control" %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Lepas Kunci?" %>
        <%= f.select :lepaskunci, options_for_select([
          ["",""],
          "Ya","Tidak"]),{}, class:'form-control' %>
      </div>
      <div class="col-sm-3 col-xs-6 sideleft">
        <%= f.label :"Transmisi" %>
        <%= f.select :transmisi, options_for_select([
          ["",""], "Automatic","Manual"]),{}, class:'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 .col-sm-4 sideleft">
    <a data-toggle="tab" href="#menu1" class="btn btn-info">Selanjutnya</a>
  </div>
<br><br>
</form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Harga</h3>

      <hr>
      <table width="100%">
        <tr>
          <th colspan="2">Harga</th>
        </tr>
        <tr>
          <td>Harga 6 Jam</td>
          <td><%= f.text_field :harga6jam, class:"form-control", placeholder:"Isi Harga Sewa" %></td>
          </tr>
        <tr>
        <td>Harga 12 Jam</td>
        <td><%= f.text_field :harga12jam, class:"form-control", placeholder:"Isi Harga Sewa" %></td>
        </tr>
        <tr>
        <td>Harga 24jam / Sehari</td>
        <td><%= f.text_field :hargafullday, class:'form-control', placeholder:"Isi Harga Sewa" %></td>
        </tr>
      </table>
      <b>NB: Harga tidak perlu ditambah tanda titik (.).</b>
    <br><br>
    <div class="col-xs-6 .col-sm-4">
      <a data-toggle="tab" href="#menu2" class="btn btn-info"> Selanjutnya</a>
      <a data-toggle="tab" href="#home" class="btn btn-info"> Kembali</a>
    </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Gambar dan Keterangan</h3>
      <hr>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3 .col-sm-4 sideleft">
            <%= f.label :"Gambar" %>  
            <%= f.file_field :image %>
            <div id="target"></div>
        </div>
          <div class="col-md-3 .col-sm-4 sideleft">
            <%= f.label :"Gambar 2" %>  
            <%= f.file_field :image2 %>
              <div id="target2"></div>          
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6 .col-sm-4 sideleft">      
            <%= f.label :"Penjelasan Barang" %><br>
            <%= f.text_area :description,class:"form-control", :rows => 5, :maxlength=>160 %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6 .col-sm-4 sideleft">
            <div class="actions">
              <%= f.submit "Selesai",class:"btn btn-info" %>
              <a data-toggle="tab" href="#menu1" class="btn btn-info">Kembali</a>
            </div>
          </div>
        </div>
      </div>
    </div>
 
</div>
</div>
</div>
</div>
</div>
<% end %>


<!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

<script type="text/javascript">
  $(function() {
  $('#product_image').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#product_image2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target2').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datepicker({
      format : 'DD/MM/YYYY'
    });
  });
</script>

<script type="text/javascript">
$(function(){
      $('#harga').priceFormat({
      prefix: 'Rp ',
      centsSeparator: ','
    
       });
});
</script>
<script type="text/javascript">
new Vue({
  el: '#app3',
  data: {
    checkedNames: []
  }
})
</script>



</body>
</html>
