<ul class="grid">
  <% @products.each do |product| %>
    <div class="panel1">
      <div class="text-center"><h4><%= link_to product.item,new_product_sewa_path(product) %></h4></div>
        <div class="text-center"><%= link_to (image_tag product.image(:medium)),new_product_sewa_path(product) %></div>
          <ul>
          <br>
            <li>Item:&nbsp;</b><%= product.item %></li>
            <li>Tanggal:&nbsp;&nbsp;</b><%= product.from %></li>
            <li>No HP:&nbsp;&nbsp;</b><%= product.subitem %></li> 
          </ul>
        </div>
     <% end %>
      </div>
    </div>
</ul>  

