<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>

  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<a class="glyphicon glyphicon-home btn-lg" href="/"></a>
			</ul>
			<ul class="nav navbar-right">
				<%= link_to "Masuk",login_path,class:"btnLogin" %>
			</ul>
		</div>
	</div>
  
  <p class="text-center">Menu Sewa</p>
  
<div class="containerproduct">

	<div class="kotaksewa">
		<div class="col-md-6">
		 <h4><%= image_tag(@product.image, :size => "545x350") %></h4>
		</div>
		<div class="col-md-6">
		    <ul class="nav nav-tabs nav-fill">
			    <li class="active"><a data-toggle="tab" href="#hargapasti">Harga</a></li>
			   
  			</ul>
  			
  			<div class="tab-content">
			    <div id="hargapasti" class="tab-pane fade in active">
			      <div class="text-center"><h2>Harga</h2></div>
			      <div class="text-center" id="harga-yes"><h4><%= @product.price %> /hari</h4> </div>
			      <br>
			  <form name="sewaFrom" class="form-horizontal">
			    <div class="row">
			     <div class="form-group">  	
					<div class = "col-md-3"><h5><label>Dari Tanggal : </label></h5></div>
						<div class="col-sm-6">
				            <input type='text' class="form-control" id="startDate" />
   						</div>
   				 </div>
   				</div>
   				 
   				<div class="row">
   				 <div class="form-group">  	
					<div class = "col-md-3"><h5><label>Sampai Tanggal: </label></h5> </div>
						<div class="col-sm-6">
				                <input type='text' class="form-control" id="endDate" />
                		</div>
                 </div>
   				</div>
  					<br>
  					<div class="text-center">
					<button class="btn btn-info" onclick="validate();">Sewa</button> 
					<%= link_to 'Tidak', lihat_path, class:"btn btn-info" %>
					</div>
					</div>
			  </form>

		</div>
	</div>
 
</div>


<script>
function validate() {
	if (document.getElementById('startDate').value == "" || document.getElementById('endDate').value == "") {
		alert("Tanggal Belum Di Input");
	} else {
		alert("Terimakasih, Pesanan akan di proses");
		window.location.href = "/lihat";
	}
}



    $(function () {
        $('#startDate').datetimepicker({ 
        });
        $('#endDate').datetimepicker({
         	useCurrent: false //Important! See issue #1075    
        });
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function (e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
    });



</script>
	<%= render 'layouts/footer' %>
</body>
</html>