 <!DOCTYPE html>
 <html>
 <head>
 <%= stylesheet_link_tag "products" %>
 </head>
 <body>
 <%= render 'layouts/header' %>    

  <h2><p class="text-center"><%= @product.item %></p></h2>
  
<div class="containerproduct">
  <div class="col-md-4">
    <div class="tcb-product-photo">
      <h4><%= image_tag@product.image(:medium) %></h4>
    </div>
  </div>
 
  <div class="col-md-6">    
    <div class="row">
      <div class="col-xs-2">
          <h4><span class="glyphicon glyphicon-usd"></span></h4></div>
      <div class="col-xs-4"><h4><%= number_to_currency_br(@product.price) %></h4></div>
    </div>
 
    <div class="row">
      <div class="col-xs-2">
          <h4><span class="glyphicon glyphicon-earphone"></span></h4></div>
      <div class="col-xs-4"><h4><%= @product.subitem %> </h4></div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <h4><span class="glyphicon glyphicon-globe"></span></h4></div>
      <div class="col-xs-4"><h4><%= @product.stadt %> </h4></div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <h4><span class="glyphicon glyphicon-tags"></h4></span></div>
      <div class="col-xs-4"><h4><%= @product.tambahanproduk %> </h4></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4>Tanggal Disewakan:</h4></div>
        
      <div class="col-xs-6 col-sm-6"><h4><%= @product.from.strftime("%d-%m-%Y") %> </h4></div>
    </div>

    <div class="row">
      <div class="col-xs-4"><h4>Keterangan:</h4></div>
      <br></br>
      <div class="col-xs-6 col-sm-6"><p><%= @product.description %></p></div>
    </div>

    <br></br>
    <div class="row">
      <div class="col-sm-4 ">
          <%= link_to 'Sewa', sewa_product_path(@product),method: :patch, class:"btn btn-danger" %>
      </div>
    </div>
</div>


 </body>
 </html>