<%= render 'layouts/header' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% provide(:title, 'Create Sewa') %>
<%= stylesheet_link_tag "products" %>
<%= stylesheet_link_tag "homes" %>
<%= form_for @product, html: { :multipart => true } do |f| %>
<div class="col-md-6 col-md-offset-3">
    <center><% if @product.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>   
        <% for message in @product.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
    </div>
  <% end %></center>
  </div>
  
<form>
<div class="form-group">
    <div class="row">
      <div class="col-xs-6 sideleft">
        <div class="field">
          <br>
          <%= f.label :"Judul" %><br>
        <%= f.text_field :item,class:"form-control" %>
        </div>
      </div>
    </div>
  </div>

 <div class="form-group">
    <div class="row">
      <div class="col-xs-6 sideleft">
        <div class="field">
           <%= f.label :"Merk Mobil" %>
        <%= f.text_field :tambahanproduk,class:'form-control' %>
        </div>
      </div>
    </div>
  </div>
  

    <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
        <%= f.label :"Rp Harga Sewa Per Hari" %>
        <%= f.text_field :klasifikasikategory,class:'form-control' %>

      </div>
    </div>
  </div>
    
   <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">      
        <%= f.label :"Penjelasan Barang" %><br>
        <%= f.text_area :description,class:"form-control", :rows => 5 %>
      </div>
    </div>
  </div>

  
 <div class="form-group">
    <div class="row">
     <div class="col-xs-6 .col-sm-4 sideleft"> 
       <%= f.label :"Nomor HP" %><br>
       <%= f.text_field :subitem,class:"form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
        <%= f.label :Kota %><br>
        <%= f.text_field :stadt, class:"form-control" %>
      </div>
    </div>
  </div>

 <div class="form-group">
    <div class="row">
      <div class="col-md-3 .col-sm-4 sideleft">
    <%= f.label :"image" %>  
     <%= f.file_field :image %>

     <div id="target"></div>
     </div>
<div class="col-md-3 .col-sm-4 sideleft">
    <%= f.label :"image 2" %>  
     <%= f.file_field :image2 %>

     <div id="target2"></div>          
     </div>

 
      </div>
    </div>

  <div class="form-group">
  <div class="row">
  <div class="col-xs-6 .col-sm-4 sideleft">
  <div class="actions">
    <%= f.submit "simpan",class:"btn btn-primary" %>
  </div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
<% end %>

<script type="text/javascript">
  $(function() {
  $('#product_image').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#product_image2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target2').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#product_image3').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target3').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#product_image4').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target4').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#product_image5').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.widht = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target5').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>
<script type="text/javascript">
$(function(){
      $('#inputrupiah').priceFormat({
      prefix: 'Rp ',
      centsSeparator: ','
    
       });
});
</script>

<script>
$(function () {
        $('#startDate').datetimepicker({ 
           minDate: moment()
        });
        $('#endDate').datetimepicker({
          useCurrent: false //Important! See issue #1075    
        });
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $("#endDate").on("dp.change", function (e) {
            $('#startDate').data("DateTimePicker").maxDate(e.date);
        });
    });


</script>


</body>
</html>