<!DOCTYPE html>
<html>
<head>
<title><% provide(:title, 'Rent Cars In Indonesia') %></title>
<%= stylesheet_link_tag "homes" %>
</head>

<body>

<!-- header -->
  <div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("logo.jpg",size:"100x47"),products_home_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><span class="nav-itemButton"><%= link_to "Create Product ",createitem_path,class:"btn button-smaller" %></li></span>
              <% if current_user %>
    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My Account <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                <li><%= link_to current_user.email, user_path(current_user) %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li><%= link_to "My Product ",createitem_path %></li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Logout", logout_path %>
                        </li>
                    </ul>
                </li>
                <% end %>
            </ul>
          </div><!-- /navbar-collapse -->
          </div>
        </nav>
      </div>
    </div>
<br>

<div class="banner">
      <!-- Slider-starts-Here -->
         <script>
            // You can also use "$(window).load(function() {"
            $(function () {
              // Slideshow 4
              $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 1500,
                namespace: "callbacks",
                before: function () {
                  $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                  $('.events').append("<li>after event fired.</li>");
                }
              });
        
            });
          </script>
      <!--//End-slider-script -->
      <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-info">
             <%= image_tag "12.jpg", class:"img-responsive" %>
          <div class="banner-inf">
              <h1>Rent cars</h1><br>
              <p>good rent cars in indonesia</p><br><br>
                <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
      </div>
            </div>
          </li>

          <li>
            <div class="banner-info1">
              <%= image_tag "b1.jpg", class:"img-responsive" %>
            <div class="banner-inf">
              <h1>Handbo</h1><br>
              <p>good rent cars in indonesia</p><br><br>
                <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
            </div>
            </div>
          </li>
          
          <li>
            <div class="banner-info2">
              <%= image_tag "w.jpg", class:"img-responsive" %>
              <div class="banner-inf">
              <h1>Handbo</h1><br>
              <p>good rent cars in indonesia</p><br><br>
                <%= form_tag lihat_path, method: :get do %>
                <%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center"%>
                <%= submit_tag "Search", :name => nil,class:"btn btn-primary" %>
              <% end %>
  
              </div>
            </div>
          </li>
        </ul>
      </div>
<br>
<br>
    <!-- Container (Services Section) -->
<div class="container-fluid text-center">
  <h2>How it Works </h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-search logo-small"></span>
      <div class="small"><p>Memilih kebutuhan</p></div>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-list-alt logo-small"></span>
      <div class="small"><p>Memesan kebutuhan </p></div>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-usd logo-small"></span>
      <div class="small"><p>It's works !! </p></div>
    </div>
  </div>
  <br><br>
</div>


<div class="container">   
<div class="container-fluid text-center"></div> 
    <div class="row">        
            <div class="col-xs-12">
            <div class="kotakmedia">
              <div class="kotakmedia-info">
                <h1> Dapatkan Uang Dengan Menyewakan Mobil Anda</h1>
                <div class="kotakmedia-btn">
                <%= link_to "Create Product" ,createitem_path, class:"btn btn-media" %>
                </div>
            </div>

          </div>
          </div>
          </div>
          </div>

<div class="container">   
<div class="container-fluid text-center">
<h2> Top Lokasi</h2></div> 
    <div class="row">        
            <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "bandung.jpg", class:"img-responsive" %>
              <div class="kota-info">
                <h1> Bandung</h1>
                </div>
            </div>

          </div>
          </div>

          <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "bekasi.jpg", class:"img-responsive" %></div>
            <div class="kota-info">
                <h1> Bekasi</h1>
                </div>
          </div>
          </div>

           <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "bogor.jpg", class:"img-responsive" %></div>
            <div class="kota-info">
                <h1> Bogor</h1>
                </div>
          </div>
          </div>

          <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "depok.jpg", class:"img-responsive" %>
              <div class="kota-info">
                <h1> Depok</h1>
                </div>
            </div>

          </div>
          </div>

          <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "jakarta.jpg", class:"img-responsive" %></div>
            <div class="kota-info">
                <h1> Jakarta</h1>
                </div>
          </div>
          </div>

           <div class="col-xs-6 col-md-4 col-lg-4 px-0">
            <div class="kotakkota">
            <div class="kota-photo"><%= image_tag "tangerang.jpg", class:"img-responsive" %></div>
            <div class="kota-info">
                <h1> Tangerang</h1>
                </div>
          </div>
          </div>

    </div>  
    </div> 
    </div>

    <!-- Wrapper for slides -->
<br><br>
<footer>
    <div class="container-fluid">
        <div class="col-md-4 text-center text-capitalize">
          <div class="isifooter">
        <h2>Alamat</h2>
        <p>Jl. rawa panjang</p>
        <P>blok H5 no.27 Bekasi Utaran</P>
        <p>+62896 5715 2264</p>
        <p>handbo@gmail.com</p>
        </div>
        </div>
        
          <div class="col-md-4 text-center text-capitalize">
              <div class="isifooter">
              
            <h2>Top Lokasi</h2>
               <p>Bandung</p>
               <p>Bekasi</p>
               <p>Bogor</p>
               <p>Depok</p>
               <p>Jakarta</p>
               <p>Tangerang</p>
            </div></div>
          <div class="col-md-4 text-center text-capitalez">
            <div class="isifooter">
            <h2>Follow Us :</h2>
           <center> 
           <%= link_to image_tag("twitter.png",size:"30x30"),"https://twitter.com/handboindonesia", target:"_blank" %>
           <%= link_to image_tag("facebook1.png",size:"30x30"),"https://www.facebook.com/handboindonesia", target:"_blank"%>
           <%= link_to image_tag("insta.png",size:"30x30"),"https://www.instagram.com/handbo", target:"_blank" %>
            </center>
            <br>
            <p><a style="color: #fff; text-decoration: underline;" href="https://www.blog.handbo.id" target="_blank"> Baca Blog Kami </a></p>
           </div></div>
          
<div class="clear"></div>
<div class="copyright"><p>copyright @handbo &copy; 2017 | All Rights Reserved</p></div>
</div>

    <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8782091;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();

<!-- dropdown menu -->

$(document).ready(function() {
  $(".dropdown-toggle").dropdown();
});
</script>
<!-- End of LiveChat code -->
</footer>
</body>
</html>
<%= javascript_include_tag "responsiveslides.min"%>