<%= stylesheet_link_tag "products" %>
<%= stylesheet_link_tag "homes" %>

<% provide(:title,'Search') %>
<% if current_user %>
<%= render 'layouts/header' %>
<% else %>
 <div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("logonew.png",size:"100x47"),root_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Lihat Mobil",lihat_path %></li>
              <li><%= link_to "Listing Mobil",createitem_path %></li>
              <li><span class="nav-itemButton"><%= link_to "Daftar ",register_path,class:"btn button-smaller" %></li></span>
              <li><%= link_to "Masuk",login_path %></li>
            </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>

<% end %>
<br><br><br>
<div class="text-center"><%= form_tag lihat_path, method: :get do %>
    <h5><%= text_field_tag :search, params[:search],placeholder:"Cari Kota",class:"text-center" %>
     <%= submit_tag "Search", :name => nil,class:"btn btn-primary btn-sm" %></h5>
  <% end %>
 </div>

  <div class="col-md-2"><%= link_to "Lihat semua Produk",lihat_path,class:"btn btn-default" %></div>
  <h2>Pencarian</h2>
  <div id="content-wrapper">
  <section>
        <% if @products.count == 0 %>
        <h3>No Result</h3>
        <% end %>
  </section>    
      <ul class="grid">
        <% @products.each do |product| %>
          <div class="panel1">
            <div class="col-sm-6 col-md-6">
              <div class="tcb-product-photo">
              <h4><%= product.item %></h4>
              <%= link_to (image_tag product.image(:medium)),product %>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 ">
            <br>
            <br>
              <div class="col-md-12"><h4><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;<%= product.tipe %></h4></div>
              <div class="col-md-12"><h4><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;<%= product.stadt  %></h4></div>
              <div class="col-md-12"><h4>Harga&nbsp;&nbsp;<b><%= number_to_currency_br(product.hargafullday) %></b></h4></div>
            <br>
            
          <td><%= link_to 'Sewa', product, class:"btn btn-success" %></td> 
            </div>
          </div>
          <% end %>
          
      </ul>
    
        <div class="col-md-12 text-center">
    <div class="pagination">
      <%= will_paginate @products %>
    </div>   
    
  </div>   



  <%= render 'layouts/footer' %>

  <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->

<script>
  $( function() {
    var availableTags = [
      "Balikpapan","Bandar Lampung","Banyuwangi","Banjarmasin","Batam","Bandung","Bekasi","Bengkulu","Bogor","Cirebon","Cilegon","Depok","Jakarta","Jepara","Kupang","Kediri","Makassar","Mataram","Malang","Magelang","Manado","Medan","Padang","Pekanbaru","Pekalongan","Pontianak","Samarinda","Semarang","Serang","Sukabumi","Surabaya","Tangerang","Yogyakarta","Lombok","Bali"];
    $( "#search" ).autocomplete({
      source: availableTags
    });
  } );
  </script>