<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= yield(:title) %></title>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<a class="glyphicon glyphicon-home btn-lg" href="/"></a>
			</ul>
			<ul class="nav navbar-right">
				<a class="btn btn-info" href="/login">Login</a>
			</ul>
		</div>
	</div>
  
  <p class="text-center">Menu Sewa</p>
  
<div class="containerproduct">
	<div class="kotaksewa">
		<div class="col-md-6">
		 <h4><%= image_tag(@product.image, :size => "545x350") %></h4>
		</div>
		<div class="col-md-6">
		    <ul class="nav nav-tabs nav-fill">
			    <li class="active"><a data-toggle="tab" href="#hargapasti">Harga Pasti</a></li>
			    <li><a data-toggle="tab" href="#nego">Nego</a></li>
  			</ul>

  			<div class="tab-content">
			    <div id="hargapasti" class="tab-pane fade in active">
			      <div class="text-center"><h2>Harga Pasti</h2></div>
			      <div class="text-center"><h4><%= @product.price %> /hari</h4> </div>
			      <br>
			    <div class="row">  	
					<div class = "col-md-2"><label>Tanggal: </label> </div>
						<div class = "col-md-3 input-control text">
						<input type = "text" id="jumlah"></div >
   				</div>
   				 <br>
   				<div class="row"> 
					<div class = "col-md-2"><label>Harga: </label> </div>
						<div class = "col-md-3 input-control text">
						<input type = "text" id="jumlah"></div >
   				</div>
  					<br>
  					<div class="text-center">
					<div class="btn btn-info">Sewa</div>
					<%= link_to 'Tidak', lihat_path, class:"btn btn-default" %>
					</div>
					</div>
			    <div id="nego" class="tab-pane fade">
			      <div class="text-center"><h2>Nego</h2>
			      <h4>Silahkan Hubungi :</h4>
			     
			      <h5><span class="glyphicon glyphicon-phone-alt"> <%= @product.subitem %></span></h5>
			     
			      </div>
			</div>
		</div>
	</div>

</div>

	<%= render 'layouts/footer' %>
</body>
</html>