<html>
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan" />
 <meta property="twitter:title" content="Penyewaan " />
 <meta property="og:site_name" content="handbo.de" />
 <meta property="og:type" content="website" />
 <meta property="og:description" content="Penyewaaan menguntungkan dan murah" />
 <meta name="description" content="Penyewaan menguntungkan dan murah">
 <meta property="twitter:description" content="Penyewaan menguntungkan dan murah" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <% provide(:title, 'Sewa Mobil Murah Dan Terbaik') %>
  <meta name="keywords" content="sewa kamar, sewa villa, sewa, sewa gedung, murah, sewa pasti menguntungkan, hotel murah, paket wisata,  penerbangan, hiburan, sewa mobil, losmen, makanan, restoran, objek wisata, tinjuan, saran, pendapat"/>
  <meta name="description" content="Sewa pasti menguntungkan" />
  <meta name="robots" content="index,follow" />
  <%= stylesheet_link_tag "products" %>
</head>
<body>
  <%= render 'layouts/header' %><br><br><br>


  <h3><p class="text-center"><b><%= @product.item %></b></p></h3>
  <br>
  <div class="col-lg-6">
  
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
      <% if @product.image.exists? %>
  <%= image_tag @product.image.url, class:"img-responsive"%>
<% end %>
      </div>
      <div class="item">
          <% if @product.image.exists? %>
  <%= image_tag @product.image2.url, class:"img-responsive"%>
<% end %>
      </div>

      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="containerproduct">
  
    <div class="col-sm-6">  

    <div class="row">

      <div class="col-xs-1">

        <h3><span class="glyphicon glyphicon-tags"></h3></span></div>

      <div class="col-xs-10"><h3><%= @product.tipe %> </h3></div>

    </div>

 

    <div class="row">

      <div class="col-xs-1">

          <h3><span class="glyphicon glyphicon-phone"></span></h3></div>

      <div class="col-xs-10"><h3><%= @product.subitem %> </h3></div>

    </div>

    <div class="row">

      <div class="col-xs-1">

        <h3><span class="glyphicon glyphicon-map-marker"></span></h3></div>

      <div class="col-xs-10"><h3><%= @product.stadt %> </h3></div>

    </div>


    <div class="row">

      <div class="col-md-4 col-xs-3">

        <h3>Harga 6 Jam</h3></div>

      <div class="col-md-4 col-xs-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color:#fff;font-weight:bold"><%= number_to_currency_br(@product.harga6jam) %></span></h3></div>

    </div>

    <div class="row">

      <div class="col-md-4 col-xs-3">

        <h3>Harga 12 Jam</h3></div>

      <div class="col-md-4 col-xs-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color:#fff;font-weight:bold"><%= number_to_currency_br(@product.harga6jam) %></span></h3></div>

    </div>

    <div class="row">

      <div class="col-md-4 col-xs-3">

        <h3>Harga Fullday</h3></div>

      <div class="col-md-4 col-xs-4"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="background-color:#fff;font-weight:bold"><%= number_to_currency_br(@product.hargafullday) %></span></h3>
      </div>

    </div>


    <div class="row">

      <div class="col-xs-1"><h3><span class="glyphicon glyphicon-list-alt"></span></h3></div>

      <div class="col-xs-10"><h3><%= @product.description %></h3></div>

    </div>
<br></br>

    
</div>

</div>
    <div class="col-md-12">
    <iframe src="https://mybooking.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframemybooking" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true"></iframe><script>window.addEventListener && window.addEventListener("message", function(event){if (event.origin === "https://mybooking.youcanbook.me"){document.getElementById("ycbmiframemybooking").style.height = event.data + "px";}}, false);</script>
    </div>

    <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 8963674;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
<!-- End of LiveChat code -->
    
</body>
</html>