 <%= stylesheet_link_tag "products" %>

<div class="containerproduct">
<%= form_for([@product,@product.reviews.build]) do |f| %>

<form>
 <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
        <div class="field">
          <%= f.label :"Judul" %><br>
          <%= f.text_field :judul,class:"form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
        <div class="field">
         <%= f.label :"Rating" %><br>
         <%= f.select :rating, options_for_select([
                ["Pilih Rating", ""], 
                      "1", "2", "3","4","5"]), 
                      {}, { class: "form-control" } %>
        </div>
      </div>
    </div>
  </div>
  
   <div class="form-group">
    <div class="row">
      <div class="col-xs-6 .col-sm-4 sideleft">
        <div class="field">
          <%= f.label :"Komentar" %><p>*dilengkapi dengan nomor yang bisa dihubungi<br>
          <%= f.text_area :comment,class:"form-control", :rows => 5 %>
        </div>
      </div>
    </div>
  </div>  
  
  <div class="form-group">
  <div class="row">
  <div class="col-xs-6 .col-sm-4 sideleft">
  <div class="actions">
    <%= f.submit "Submit",class:"btn btn-default" %>
  </div>
</div>
</div>
</div>
</form>
</div>
<% end %>


