<%= stylesheet_link_tag "homes" %>
<div class="header">

      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("https://s3.amazonaws.com/handboaws/home/logonew.png",size:"100x47"),home_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Lihat Mobil",lihat_path %></li>
              <li><span class="nav-itemButton"><%= link_to "Listing Mobil",createitem_path,class:"btn button-smaller" %></li></span>
              <% if current_user %>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My Account <span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                  <li><%= link_to current_user.email, user_path(current_user) %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li><%= link_to "My Car ",myproduct_path %></li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Logout", logout_path %>
                        </li>
                    </ul>
                </li>
                
                <% end %>
            </ul>
          </div><!-- /navbar-collapse -->
          </div>
        </nav>
      </div>
    </div>
    <br><br>
 
    