<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'application','data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'bootstrap' %>
  
  <%= favicon_link_tag 'logobrowser.png' %>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
 
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
 <script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta property="og:title" content="Penyewaan Mobil Online Murah dan Terbaik - Handbo" />
 <meta property="og:site_name" content="handbo.id" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="https://www.handbo.id/" />
 <meta content="1467291603333547" property='fb:app_id'>
 <meta content="https://s3.amazonaws.com/handboaws/home/avanza.jpg" property="og:image">
 <meta property="og:description" content="To rent a car or earn money with your car" />
 <meta name="description" content="To rent a car or earn money with your car" />
 <meta name="author" content=""> 
 <meta name="viewport" content="width=device-width, initial-scale=1" >
 <meta name="keywords" content="sewa mobil,murah,menguntungkan,mobil pick up"/>
  <meta name="description" content="To rent a car or earn money with your car" />
  <meta name="google-site-verification" content="E5qBmBVCRCHA2anG3lByPa6JVtI7QYAyj-YAlurBjCc"/> 
  <meta name="robots" content="index,follow" />
</head>
<body>
    <%= yield %>
</body>
</html>



